<template>
    <div>

        <table style="width: 100%">
            <tbody v-show="!isLoading">
            <tr v-for="activity in activity_stream">
                <td>
                    <div>
                        <a :href="activity.path"> {{activity.activity_description}} by {{activity.by}} on
                            {{activity.action_time}}
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody v-show="isLoading">
            <tr colspan="3">
                <td colspan="3" class="text-center">Loading ...</td>
            </tr>
            </tbody>
        </table>

        <div class="pagination pull-right" v-if="pagination.total>10">
            <ul style="display: inline;">
                <li style="margin-right: 10px">
                    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                </li>
                <li>
                    Rows per page
                    <select name="" id="" v-model="limit" @change="addItems(limit)">
                        <option value="14" v-if="pagination.total>14">14</option>
                        <option value="25" v-if="pagination.total>25">25</option>
                        <option value="50" v-if="pagination.total>50">50</option>
                        <option value="100" v-if="pagination.total>100">100</option>
                    </select>
                </li>
                <li>
                    <a @click="getActivityStream(pagination.current_page-1)"
                       :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a @click="getActivityStream(pagination.current_page+1)"
                       :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                limit: 14,
                activity_stream: {},
                pagination: {},
                isLoading: true
            }
        },
        methods: {
            getActivityStream: function (page = null) {

                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                this.$http.get('/api/activitystream', {
                    params: {
                        pagination: this.pagination
                    }
                }).then(function (response) {
                    this.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    this.activity_stream = response.data.data;
                    this.isLoading = false;
                }, function (response) {
                    console.log(response)
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getActivityStream();
            }
        },
        mounted: function () {
            this.getActivityStream();
        }
    }
</script>