<template>
    <div class="small-12 large-12 columns"  style="overflow:scroll" v-if="projects">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Project Type</th>
                <th>Project Key</th>
                <th>Project url</th>
                <th>Project Lead</th>
                <th>Created At</th>
                <th>Edit</th>
                <th>View</th>
                <th>Board</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="project in projects">
                <td><a :href="'/project/' + project.id">{{project.name}}</a></td>
                <td>{{project.project_type.name}}</td>
                <td>{{project.project_key}}</td>
                <td><a :href=" 'http://' + project.project_url " target="_blank">{{project.project_url}}</a></td>
                <td>{{project.project_lead.preferred_name}}</td>
                <td>{{project.created_at_x }}</td>

                <td>
                    <a v-if="project.project_lead.id == auth_user || project.created_by== auth_user "
                       :href="'/project/' + project.id + '/edit'">Edit</a></td>

                <td><a :href="'/project/' + project.id">View</a></td>
                <td><a :href="'/project/' + project.id + '/board'">Board</a></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination pull-right" v-if="pagination.total>10">
            <ul style="display: inline;">
                <li style="margin-right: 10px">
                    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                </li>
                <li>
                    Rows per page
                    <select name="" id="" v-model="limit" @change="addItems(limit)">
                        <option value="10" v-if="pagination.total>10">10</option>
                        <option value="25" v-if="pagination.total>25">25</option>
                        <option value="50" v-if="pagination.total>50">50</option>
                        <option value="100" v-if="pagination.total>100">100</option>
                    </select>
                </li>
                <li>
                    <a @click="getProjects(pagination.current_page-1)"
                       :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a @click="getProjects(pagination.current_page+1)"
                       :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                limit: 10,
                projects: [],
                user: '',
                name: '',
                pagination: {},
                input: {
                    name : this.name,
                    user: this.user
                }
            }
        },
        methods: {
            getProjects: function (page=null) {

                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                this.$http.post('/api/get/projects', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    this.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    this.projects = response.data.data;
                }, function (response) {
                    console.log(response)
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getProjects();
            }
        },

        props: ['auth_user'],

        mounted: function () {
            Event.$on('filtering', (filter) => {
                this.input=filter;
                this.getProjects(1);
            });

            this.getProjects();
        }
    }
</script>