<template>
    <div class="row">
        <div class="small-12 large-12 columns"  style="overflow:scroll" v-if="updated_approvals.length">
            <table>
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="approval in updated_approvals">
                    <td>{{approval.project.name}}</td>
                    <td>{{approval.name}}</td>
                    <td>{{approval.start_date}}</td>
                    <td>{{approval.end_date}}</td>
                    <td>{{approval.decisions}}</td>
                    <td>{{approval.created_by}}</td>
                    <td><a @click.prevent="approve(approval.id)"><i class="fa fa-check-circle-o approve" aria-hidden="true"></i></a></td>
                    <td><a @click.prevent="reject(approval.id)"><i class="fa fa-times-circle-o reject" aria-hidden="true"></i></a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getApprovals(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getApprovals(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else>
            <p>No Pending Approvals</p>
        </div>
        <div class="loading" v-if="loading">
            <i class="fa fa-spinner fa-spin"></i> <h4> Submitting ...</h4>
        </div>
    </div>
</template>
<script>
    export default{
        data: function(){
            return {
                updated_approvals:[],
                limit: 10,
                pagination: {},
                url:"/api/phases/updated-approvals",
                loading:false,
            }
        },
        methods: {
            getApprovals: function (page=null)
            {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;
                this.$http.get(this.url,{
                    pagination: this.pagination
                }).then(function(response){
                    this.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    this.updated_approvals = response.data.data;
                });
            },
            approve: function(id)
            {
                let self = this;
                let status = 1;
                self.loading = true;
                axios.post('/updated/'+id+'/approve/').then(function(response){
                    self.getApprovals();
                    self.loading = false;
                });
            },

            reject: function(id)
            {
                let self = this;
                self.loading = true;
                axios.post('/updated/'+id+'/reject/').then(function(response){
                    self.getApprovals();
                    self.loading = false;
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getApprovals();
            }
        },
        mounted: function () {
            this.getApprovals();
        }
    }
</script>
<style scoped>
    .approve{
        color: green;
    }
    .reject{
        color: red;
    }
    @keyframes slideInFromRight {
        0% {  transform: translateX(100%);  }
        100% {  transform: translateX(0);  }
    }
    .loading{
        background-color: #000000;
        position: fixed;
        color:#ffffff;
        top: 10%;
        right:2%;
        padding: 5px;
        font-size: 12px;
        -webkit-animation: swing 1s ease;
        animation: 1s ease-out 0s 1 slideInFromRight;
    }
    .loading h4{
        display: inline-block;
        font-size: 12px;
    }
</style>