.user-summary {
  margin: 20px;
  margin-left: 40px;

  h6 {
    font-size: 1.5rem;
    color: #2b3a40;
  }

  .profile-info-table {
    tr td {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .summary-data {
    margin-top: 30px !important;
  }

  .summary-values {
    border: 1px solid $border-color;
    height: 90px;

    .summary-values-center {
      border: 1px solid $border-color;
      //border-right: 1px solid $border-color;
      height: 89px;
    }
    h6 {
      padding-left: 5px;
    }
    p {
      padding-left: 5px;
      margin-bottom: 5px;
    }
  }

  .profile-issues {
    margin-top: 2%;
    border: 1px solid $border-color;
  }

  .gen-info {
    font-weight: 300;
    font-size: 1rem;
    padding-left: 10px;
    color: $dark-blue;
    margin: 10px;
  }

  .issues-row {
    a {
      color: $dark-blue;
    }
  }
}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {

  .profile-avatar {
    height: auto;
  }

  .prof-name {
    font-size: 20px;
    margin-bottom: 0;
  }

  .user-summary .gen-info {
    font-size: 0.85rem;
    padding-left: 0;
    margin: 0;
  }
}