.user-follows {
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
  }

  input[type=text] {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
}