<template>
    <el-select v-model="assign_to" multiple placeholder="Assign to">
        <el-option
                v-for="item in users"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
</template>
<script>
    import Vue from 'vue'
    import locale from 'element-ui/lib/locale/lang/en'
    import ElementUI from 'element-ui'
    Vue.use(ElementUI, { locale });
    export default{
        data() {
            return {
                assign_to:[],
            }
        },
        props: {
            users:{
                required: true,
                default: 0,
            }
        },
        mounted: function()
        {
            console.log(this.users);
        }
    }
</script>