<template>
    <div>
        <el-time-picker
        placeholder="Select stop time"
        v-model = "end_time"
        :picker-options="{format:'HH:mm'}"
        ></el-time-picker>
        <input :value="new Date(end_time).toTimeString()" name="end_time" type="hidden">
    </div>
</template>
<script>
    import Vue from 'vue'
    import locale from 'element-ui/lib/locale/lang/en'
    import ElementUI from 'element-ui'
    Vue.use(ElementUI, { locale });
    export default {
        data() {
            return {
                end_time: new Date()
            };
        }
    }
</script>
<style scoped>
    .el-date-editor.el-input {
        width: 100%;
    }
</style>