<template>

    <div ref="calendar" id="calendar"></div>
</template>

<script>
   import FullCalendar from 'vue-full-calendar'
    export default {
        props: {
            events: {
                default() {
                    return []
                },
            },
            editable: {
                default() {
                    return true
                },
            },
            header: {
                default() {
                    return {
                        left:   'prev,next today',
                        center: 'title',
                        right:  'listWeek,month,agendaWeek,agendaDay'
                    }
                },
            },
            defaultView: {
                default() {
                    return 'agendaWeek'
                },
            },
            sync: {
                default() {
                    return false
                }
            },
            config: {
                type: Object,
                default() {
                    return {}
                },
            },
        },
        computed: {
            defaultConfig() {
                const self = this;
                return {
                    header: this.header,
                    defaultView: this.defaultView,
                    editable: this.editable,
                    selectable: this.selectable,
                    selectHelper: this.selectHelper,
                    aspectRatio: 2,
                    timeFormat: 'HH:mm',
                    events: this.events,
                    eventSources: this.eventSources,
                }
            },

        },
        mounted() {
            const cal = $(this.$el),
                self = this;
            cal.fullCalendar(_.defaultsDeep(this.config, this.defaultConfig))
        },
    }
</script>
<style>
    .fc-minor{
        background-color: #ffffff !important;
    }
    .fc-time-grid .fc-slats td{
        height: 2.8em !important;
    }
    .fc-event {
        border: none !important;
        border-top:solid #82CA9C 3px !important;
        font-weight: 600 !important;
    }
    .fc-event,
    .fc-event-dot {
        background-color: #f5f5f5 !important;
        font-weight: 600 !important;
        color: #000000 !important;
        font-size: 12px !important;
    }

    .fc-event:hover
  {
        color: red !important;
        text-decoration: none;
    }
    .fc-view-container{
        border-top: solid #2B3A40 1px !important;
    }
    table tbody tr:nth-child(even) {
        border-bottom: 0;
        background-color: #ffffff;
    }
    .fc-center h2{
        font-size: 13px !important;
        font-weight: 600;
    }
    
</style>

