<script>
    import vueDatepicker from 'vue-datepicker'

    export default {
        data: function () {
            return {
                startTime: {
                    time: ''
                },
                endtime: {
                    time: ''
                },

                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: 'Choose a date',
                    inputStyle: {
                        'display': 'inline-block',
                        'padding': '6px',
                        'line-height': '22px',
                        'font-size': '16px',
                        'border': '2px solid #fff',
                        'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                        'border-radius': '2px',
                        'color': '#5F5F5F'
                    },
                    color: {
                        header: '#ccc',
                        headerText: '#f00'
                    },
                    buttons: {
                        ok: 'Ok',
                        cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
                },
                timeoption: {
                    type: 'min',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD HH:mm'
                },
                multiOption: {
                    type: 'multi-day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: "YYYY-MM-DD HH:mm"
                },
                limit: [{
                    type: 'week',
                    available: [1, 2, 3, 4, 5, 6, 7]
                },
                    {
                        type: 'fromto',
                        from: '2017-02-01',
                        to: ''
                    }],
                date: {
                    time: '' // string
                }
            }
        },
        components: {
            'date-picker': vueDatepicker
        }
    }
</script>
<template>
    <div>
        <div class="card">
            <div class="row">
                <span>Due Date</span>
                <date-picker :date="date" :option="option" :limit="limit"></date-picker>
            </div>
        </div>
        <div>
            <input v-model="date" name="due_date" type="hidden">
        </div>
    </div>
</template>