<template>
    <div>
        <div>
            <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false"
                         :clear-on-select="true" :hide-selected="true"
                         :placeholder="placeholder" label="name"
                         track-by="name"></multiselect>
        </div>
        <div v-if="value">
            <input id="user_group" v-model="value" name="user_group" type="text">
        </div>
    </div>
</template>

<style>
    .multiselect__input {
        padding:10px;
        font-family: FontAwesome, "Open Sans", Verdana, sans-serif !important;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }
</style>
<script>
    import Multiselect  from 'vue-multiselect'

    export default {
        components: {Multiselect},
        data: function () {
            return {
                value: [],
                options: [],
                placeholder: "\uf1e0  Share With(type to search)"
            }
        },
        methods: {
            getUsers: function () {
                this.$http.get('/api/get/users').then(function (response) {
                    this.options = response.data;
                }, function (response) {
                    console.log(response)
                });
            }
        },
        created: function () {
            this.getUsers();
        }
    };
</script>