<template>
    <div>
        <div>
            <multiselect v-model="selected_user" :options="options" :multiple="false" :close-on-select="false"
                         :clear-on-select="true" :hide-selected="true"
                         placeholder="Select User" id="me" label="name"
                         track-by="name"></multiselect>
            <pre class="language-json"><code>{{ selected_user  }}</code></pre>

        </div>
        <div v-if="selected_user">
            <input id="user" v-model="selected_user.id" name="user" type="text" @change="getSummary()">
        </div>
    </div>
</template>

<script>
    import Multiselect  from 'vue-multiselect'

    export default {
        components: {Multiselect},
        data: function () {
            return {
                selected_user: [],
                options: []
            }
        },
        methods: {
            getUsers: function () {
                this.$http.get('/api/get/users').then(function (response) {
                    this.options = response.data;
                }, function (response) {
                    console.log(response)
                });
            }
        },
        created: function () {
            this.getUsers();
        }
    };
</script>