<template>
    <div class="user-summary" v-if="summary_data.user">
        <div class="row">
            <!--<div class="row">-->
            <!--<div class="small-12 medium-12 columns">-->
            <!--<select placeholder="Search People" name="" id="" v-model="selected_user" @change="getSummary()"-->
            <!--style="width:65%;" v-select>-->
            <!--<option value="">Search People</option>-->
            <!--<option v-for="user in users" :value="user.id">{{ user.name }}</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <div class="small-12 medium-3 column" style="padding-left: 0;">
                <div>
                    <div v-if="summary_data.user.avatar==null">
                        <i class="fa fa-user-circle profile-avatar" aria-hidden="true"></i>
                    </div>
                    <div v-else>
                        <img :src="summary_data.user.avatar">
                    </div>
                </div>
            </div>
            <div class="small-6 medium-3 column profile-details">
                <p class="prof-name hide-for-small-only">{{summary_data.user.preferred_name}}</p>
                <p class="gen-info">General Information</p>
                <table class="profile-info-table">
                    <tr>
                        <th>Email:</th>
                        <td>{{summary_data.user.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{summary_data.user.phone_number}}</td>
                    </tr>
                    <tr>
                        <th>Department:</th>
                        <td>{{summary_data.user.department.name}}</td>
                    </tr>
                    <tr>
                        <th>Job Title:</th>
                        <td>{{summary_data.user.job_title}}</td>
                    </tr>
                </table>
            </div>
            <div class="show-for-medium">
                <div v-if="ct_pie_sum != 0">
                    <div v-if="summary_data.user.department_id==2">
                        <div class="small-3 medium-3 columns">
                            <summary-pie-chart :height="200" :width="200" :data="ct_pie_data"
                                               :options="pie_options"></summary-pie-chart>
                        </div>
                        <div class="small-3 medium-3 columns">
                            <summary-pie-chart :height="200" :width="200" :data="pie_data"
                                               :options="pie_options"></summary-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="pie_sum != 0">
                <div class="small-6 medium-5 columns" v-if="summary_data.user.department_id!=2">
                    <summary-pie-chart :height="200" :width="200" :data="pie_data"
                                       :options="pie_options"></summary-pie-chart>
                </div>
            </div>
        </div>
        <div class="row summary-data show-for-medium">
            <div v-if="summary_data.user.department_id==2">
                <div class="small-12 columns">
                    <h6>My Tasks</h6>
                    <div class="summary-values">
                        <div class="small-2 columns">
                            <h6>{{summary_data.total_tasks}}</h6>
                            <p>Total Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.completed_tasks}}</h6>
                            <p>Solved Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.review_tasks}}</h6>
                            <p>In-Review Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.ongoing_tasks}}</h6>
                            <p>Ongoing Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center" style="border-left: none">
                            <h6>{{summary_data.pending_tasks}}</h6>
                            <p>Pending Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.overdue_tasks}}</h6>
                            <p>Overdue Tasks</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="small-12 columns">
                    <h6>My Issues</h6>
                    <div class="summary-values">
                        <div class="small-2 column">
                            <h6>{{summary_data.total_issues}}</h6>
                            <p>Total Issues</p>
                        </div>
                        <div class="small-2 column summary-values-center">
                            <h6>{{summary_data.completed_issues}}</h6>
                            <p>Solved Issues</p>
                        </div>
                        <div class="small-2 column">
                            <h6>{{summary_data.review_issues}}</h6>
                            <p>In-Review Issues</p>
                        </div>
                        <div class="small-2 column summary-values-center">
                            <h6>{{summary_data.ongoing_issues}}</h6>
                            <p>Ongoing Issues</p>
                        </div>
                        <div class="small-2 column summary-values-center" style="border-left: none">
                            <h6>{{summary_data.pending_issues}}</h6>
                            <p>Pending Issues</p>
                        </div>
                        <div class="small-2 column">
                            <h6>{{summary_data.overdue_issues}}</h6>
                            <p>Overdue Issues</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 columns" v-if="summary_data.user.department_id!=2">
                <div class="small-12 columns">
                    <h6>Team Tasks</h6>
                    <div class="summary-values">
                        <div class="small-2 columns">
                            <h6>{{summary_data.team_total_tasks}}</h6>
                            <p>Total Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.team_completed_tasks}}</h6>
                            <p>Solved Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.team_review_tasks}}</h6>
                            <p>In-Review Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.team_ongoing_tasks}}</h6>
                            <p>Ongoing Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center" style="border-left: none">
                            <h6>{{summary_data.team_pending_tasks}}</h6>
                            <p>Pending Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.team_overdue_tasks}}</h6>
                            <p>Overdue Tasks</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="small-12 columns">
                    <h6>My Tasks</h6>
                    <div class="summary-values">
                        <div class="small-2 columns">
                            <h6>{{summary_data.total_tasks}}</h6>
                            <p>Total Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.completed_tasks}}</h6>
                            <p>Solved Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.review_tasks}}</h6>
                            <p>In-Review Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center">
                            <h6>{{summary_data.ongoing_tasks}}</h6>
                            <p>Ongoing Tasks</p>
                        </div>
                        <div class="small-2 columns summary-values-center" style="border-left: none">
                            <h6>{{summary_data.pending_tasks}}</h6>
                            <p>Pending Tasks</p>
                        </div>
                        <div class="small-2 columns">
                            <h6>{{summary_data.overdue_tasks}}</h6>
                            <p>Overdue Tasks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SummaryPieChart from '../packages/SummaryPieChart'

    export default {
        components: {SummaryPieChart},
        props: {
            users: {
                required: true,
                'default': []
            },
            user_id: {
                required: true
            }
        },
        data: function () {
            return {
                pie_sum: 0,
                ct_pie_sum: 0,
                summary_data: {},
                pagination: [],
                selected_user: null,
                placeholder: "\uf002 Search People",
                pie_options: {
                    responsive: false
                },
                pie_data: {
                    labels: ['Complete Tasks', 'Ongoing Tasks', 'Pending Tasks'],
                    datasets: [
                        {
                            label: 'Summary',
                            backgroundColor: ['#2B3A40', '#82CA9C', '#EA9E00'],
                            data: []
                        }
                    ]
                },
                ct_pie_data: {
                    labels: ['Complete Issues', 'Ongoing Issues', 'Pending Issues'],
                    datasets: [
                        {
                            label: 'Summary',
                            backgroundColor: ['#2B3A40', '#82CA9C', '#EA9E00'],
                            data: []
                        }
                    ]
                }
            }
        },
        methods: {
            // Function to filter units
            getSummary: function (user_id) {

                var self = this;

                Vue.http.get('/api/user/summary/' + user_id, {
                    params: {
                        selected_user: this.selected_user
                    }
                })
                    .then(function (response) {
                        self.summary_data = response.data;
                        self.pie_data.datasets[0].data = [response.data.completed_tasks, response.data.ongoing_tasks, response.data.pending_tasks];
                        self.ct_pie_data.datasets[0].data = [response.data.completed_issues, response.data.ongoing_issues, response.data.pending_issues];

                        self.pie_sum = self.pie_data.datasets[0].data.reduce(function (acc, val) {
                            return acc + val;
                        }, 0);
                        self.ct_pie_sum = self.ct_pie_data.datasets[0].data.reduce(function (acc, val) {
                            return acc + val;
                        }, 0);

                    }, function (response) {
                        console.log(response)
                    });
            }
        },
        mounted: function () {
            this.getSummary(this.user_id);
        }
    }
</script>