<template>
    <div class="tasks-table">
        <div class="small-12 columns" style="overflow: scroll;" v-if="reports">
            <table>
                <thead>
                <tr class="details-header">
                    <th>Date</th>
                    <th>Department</th>
                    <th>View Reports</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>{{reports}}</tr>-->
                <tr v-for="report in reports">
                    <td>{{report.date}}</td>
                    <td>{{report.department.name}}</td>
                    <td><a :href="'/view-reports/'+ report.department.id + '/'+ report.date">
                            <i  class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getReports(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getReports(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else>
            <p>There are no reports yet!</p>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                limit: 10,
                reports: [],
                date: '',
                item: '',
                department: '',
                user: '',
                pagination: {
                    per_page: this.limit
                },
                input: {
                    date: this.date,
                    department: this.department
                }
            }
        },
        methods: {
            getReports: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                var self = this;
                axios.post('/api/get/filter/reports', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.reports = response.data.data;
                }, function (response) {
                    console.log(response)
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getReports();
            }

        },
        mounted: function () {

            Event.$on('filtering_reports', (filter) =>
            {
                this.input = filter;
            this.getReports(1);
        });
            this.getReports();
        }
    }
</script>
<style scoped>
    .report-field{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .report-btn{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
</style>