<template>
    <div v-if="loading" class="dash-load">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
    <div v-else>
        <p class="dash-count">{{count}}</p>
        <p>Ongoing Tasks</p>
    </div>
</template>
<script>
    export default{
        props:{
            user:{}
        },
        data: function(){
            return{
                count:null,
                loading: false
            }
        },
        methods:{
            getOngoingTasks: function(){
                let self = this;
                Vue.http.get('/api/get/ongoing-tasks/'+self.user).then(function(response){
                    self.count = response.data;
                    self.loading = !self.loading;
                })
            }
        },
        mounted: function () {
            Event.$on('get_ongoing_tasks', () =>
            {
                this.loading = true;
                this.getOngoingTasks();
            });
            this.loading = true;
            this.getOngoingTasks();
        }
    }
</script>
<style scoped>
    .dash-load{
        color: #ffffff;
        text-align:center;
        padding: 27px;
        font-size: 40px;
    }
</style>