.perm-title{
  margin-left: 10px;
}
.perm-create-form{
 padding: 10px;
}
.link_footer{
  background-color: #ffffff;
}
.perm-btn{
  margin-left: 2%;
  margin-top: 2%;
}
.perm-label{
  font-weight: 700;
}