/*
* Project Board styling
*/

.status-titles {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  margin-left: 27px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.board-col-container{
  display: flex;
}
.board-col-container > div{
  flex: 1;
  align-items: stretch;
  height: inherit;
}
.status-issues .issue{
  border: 1px solid black;
  padding: 10px;
  border-bottom: 4px solid #006b5b;
}
.overdue{
  color: red;
}
.status-issues.columns{
  padding: 0 !important;
  .small-12.columns{
    padding: 15px;

    table{
      border: none;
    }
  }
}
.status-issues .issue:not(.no-issue)
{
  cursor: move;
}

.has-tip {
  color: #008CBA;
}

.fa-eye{
  margin-right: 10px;
}

.status-titles .columns{
  padding-left: 13px !important;
}

.issue-key{
  margin-bottom: 10px;
}

.button-tab{
  margin-right: 7px;
  margin-left: 7px;
}

.margin-left-15{
  margin-left: 15px;
}

.margin-left-10{
  margin-left: 10px;
}

.no-decoration{
  color: black;
}

.issue-title{
  margin-bottom: 5px;
}

.issue-lead{
  font-size: 12px;
  margin-bottom: 2px;
  font-style: italic;
}
.status-issues .drop-area{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.status-issues .drop-area.drag-enter{
  border: 2px dashed #a3cf5e;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.report-lists{
  padding: 15px 0;

  .sender{
    font-style: italic;
    font-size: 13px;
    color:#b9b9b9;
  }

  h6{
    font-size: 13px;
    color:#b9b9b9;
  }
}

.table-search{
  width: 300px;
  border-radius: 3px;
}
.export-spin{
  color: $cytonn-dark-green;
  font-size: 20px;
}


