.dashboard-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 0;
}

.dash-left-block {
  margin-right: 30px;
  p {
    font-size: small;
    margin-bottom: 10px;
    padding: 9px 6px 9px 13px;
    color: #999;
  }

  p:hover {
    color: #828282;
    background: #f1f1f1;
  }

  h6 {
    padding: 7px;
    color: #616161;
    font-size: 1.0rem;
    font-weight: 700;

  }

  hr {
    margin: 3px 3px;
  }

  .dash-left-block-data {
    font-size: small;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
  }

  a {
    color: $dark-blue;
  }
}

.dashboard {
  .small-6 {
    width: 49%;
  }
}


.activity-stream , .my-issues {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  font-size: 0.75rem;
  background: white;

  h5 {
    padding-left: 12px;
  }

  a {
    color: $dark-blue;
  }
}

.statistics {
  padding-left: 15px !important;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 0.75rem;
  background: white;

  h5 {
    padding-left: 12px;
  }
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none !important;
}
.dash-title h2{
  margin: 0;
  padding: 0 20px 5px 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}
.overview h6{
  color: $light-grey;
  padding-left: 0;
  font-size: 14px;
}
.dash-complete{
  border: solid $dark-blue 2px;
  background-color: $dark-blue;
  padding: 10px;
  a,p {
    color: #ffffff;
  }
}
.dash-ongoing {
  border: solid #82CA9C 2px;
  background-color: #82CA9C;
  padding: 10px;
  a,p {
    color: #ffffff;
  }
}
.dash-pending{
  border: solid $cytonn-orange 2px;
  background-color: $cytonn-orange;
  padding: 10px;
  a,p {
    color: #ffffff;
  }
}
.dash-count{
  font-weight: 300;
  font-size: 40px;
}
.dash-all-done{
  background-color: #ffffff;
  padding: 10px;
  border: solid $dark-blue 2px;
  a {
    font-weight: 600;
    color:#000000;
  }
}
.dash-all-pending{
  background-color: #ffffff;
  padding: 10px;
  border: solid $cytonn-orange 2px;
  a {
    font-weight: 600;
    color:#000000;
  }
}
.dash-all-ongoing{
  background-color: #ffffff;
  padding: 10px;
  border: solid #82CA9C 2px;
  a {
    font-weight: 600;
    color:#000000;
  }
}
.dash-task-details{
  h5{
    font-size: 1rem;
    font-weight: 400;
    color: $dark-blue;
    padding: 10px;
  }
}
.dash-assigned{
  border: solid #D3D3D3 1px;
  margin-top: 3%;
  padding: 10px;
  table{
    border-spacing: 0 !important;
    table-layout: fixed;
  td{
      border:none;
      overflow: hidden;
    }
    tr{
      height: 4em !important;
    }
    tbody tr:nth-child(odd) {
      background-color: #f5f5f5;
    }
    tbody tr:nth-child(even) {
      background-color: #ffffff;
    }
  }
}
table tbody tr:hover td .show-view {
  display: block;
}
table tbody tr td .show-view {
  display: none;
}
.dash-due {
  border: solid #D3D3D3 1px;
  margin-top: 3%;
  padding: 10px;
  tbody tr:nth-child(odd) {
    background-color: #faf2cc;
  }
  tbody tr:nth-child(even) {
    background-color: #faf2cc;
  }
  table {
    border-collapse: separate;
    border-spacing: 1em !important;
    width: 100%;
    table-layout: fixed;
  }
  td{
    border:none;
    overflow: hidden;
  }
  tr{
    height: 4em !important;
  }
}

.dash-all{
  border: solid #D3D3D3 1px;
  margin-top: 3%;
  h5{
    font-size: 1rem;
    font-weight: 400;
    color: $dark-blue;
    padding: 20px 20px 0 20px;
  }
}
.null-team{
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 15%;
  margin-right: 26%;
  text-align: center;
  color: $dark-blue;
}
.due-null{
  background-color: #82CA9C;
  padding: 15px;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
.assigned-null{
  text-align: center;
  margin: 10%;
  color: $dark-blue;
  a{
    background-color: #2B3A40;
    color: #ffffff !important;
    padding: 10px;
    font-size: 14px;
  }
  h3{
    font-size: 1.5em;
  }
}
.individual-null{
  text-align: center;
  padding: 17%;
  a{
    color:#82CA9C;
  }
}

