.hover-dropdown {
  position: relative;
  display: inline-block;
}

.hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.hover-dropdown:hover .hover-dropdown-content {
  display: block;
}