/*
* Issues styling
*/

.issue-border {
  height: 30px;
  background-color: #006b5b;
  margin-bottom: 20px;
}

.issue-info {
  margin-bottom: 20px;
}

.details hr {
  border: solid #DDD;
  border-width: 1px 0 0;
  height: 0;
  margin-left: 70px;
  margin-top: -8px;
}

.details-text {
  margin-left: 75px;
}

.details-text p {
  margin-bottom: 10px;
}

.description hr {
  border: solid #DDD;
  border-width: 1px 0 0;
  height: 0;
  margin-left: 90px;
  margin-top: -8px;
}

.description-text {
  margin-left: 95px;
}

.issue-details-right p {
  margin-bottom: 12px;
}

.issue-details-right-img img {
  max-height: 270px;
  width: 100%;
}

.comments{
  padding-bottom: 20px;
}

.comments-title {
  background-color: $lighter-green;
  height: 35px;
  color: white;
}

.comments-title h6 {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.issue-comment {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
}

.issue-comment p {
  margin-bottom: 10px;
}

.issue-comment img {
  max-height: 270px;
}

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 50px;
  height: 600px;
  overflow: auto;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.other .msg {
  order: 1;
  margin-left: 15px;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #d7e8f9;
}
.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 53px;
  width: 0px;
  height: 0px;
  border: 5px solid #f6f8fa;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  order: 1;
  margin-right: 15px;
  background-color: #d7e8f9;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #d7e8f9;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 19px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: #d7e8f9;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #d7e8f9;
  box-shadow: 0px 2px 0px #d7e8f9;
}

.msg {
  background: #f6f8fa;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #777;
}

.msg .name{
  font-size: 0.7em;
  color: #0000fe;
}

.msg img {
  position: relative;
  display: block;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 800px) {
  .msg img {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .msg img {
    width: 200px;
  }
}

.msg img:hover {
  opacity: 0.4;
}

.msg time {
  font-size: 0.7rem;
  color: #777;;
  margin-top: 5px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg time:before{
  content:"\f017";
  color: #777;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}

.msg .edit{
  font-size: 0.7rem;
  color: #777;;
  margin-top: 5px;
  float: left;
}

.chat-comments-control input[type="text"].comment-box {
  bottom: 0;
  width: 90%;
  padding: 5px;
  font-size: 0.9rem;
  color: #777;
  height: 50px;
  float: left;
  background-color: none !important;
  border-style: none !important;
  border-color: none !important;
  box-shadow: none !important;
}

input[type="submit"] .send{
background-color: #42ff55;
}

.chat-comments-control{
  border-top: solid 1px #d7e8f9;
  width: 90%;
  height: 50px;
  border-radius: 2px;
  margin: auto;
  margin-top: 5px;
}

.attachbox {
  float: left;
  width: 70px;
  height: 100%;
  margin-right: 10px;
}

.attachbox .clip {
  color: #d7e8f9;
  font-size: 25px;
  margin-top: 10px;
  float: right;
}

.attachbox .image {
  color: #d7e8f9;
  font-size: 25px;
  margin-top: 10px;
  float: left;
}

.sendbox{
  float: right;
  width: 20px;
  height: 100%;
  margin-right: 10px;
}

.sendbox .send{
  color: #d7e8f9;
  font-size: 25px;
  background-color: white;
  float: left;
}

.clip:hover {
  font-size: 35px;
}

.image:hover{
  font-size: 35px;
}

.holder {
  width: 80%;
  background: white;
  position: fixed;
  bottom: 0;
  margin-top: 10px;
  height: 80px;
}

.load-more{
  background-color: #66b0fb;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.load-more:hover{
  background-color: #4c91d7;
}

.component-users{
  background: #006B5B;
  color: #FFFFFF;
  margin-right: 5px;
  font-weight: 300;
  padding: 2px 10px;
  border-radius: 3px;
  line-height: 20px;
  font-size: 12px;
  display: inline-flex;
  margin-top: 10px;
}

.component-remove{
  margin-left: 5px;
  border-left: solid white 1px;
  padding-left: 5px;
  color: #ffffff;
}
.issue-form{
  select{
    font-size: 0.70rem;
  }
}
#percentage_done{
  font-size: 0.70rem !important;
}