/*
* Login Page Styling
*/

.login {
  background: #fff;
  min-height: 100vh;
  float: right;
  width: 50%;
}

.login-container {
  background-color: #fff;
  color: #000;
  margin-top: 50%;

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #757575;
    letter-spacing: 0.56px;
    line-height: 40px;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #A1A1A1;
    letter-spacing: 0.3px;
  }

  #sign-up-button {
    background: #A2D157;
    border-radius: 4px;
    /* Sign in with Google: */
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    line-height: 30px;
    border: none;
  }
}

.login-container-img {
  padding-top: 20px;
  float: right;
  margin-right: 20px;
}

.login-container-disclaimer {
  margin-left: 30%;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #A1A1A1;
  letter-spacing: 0.3px;
}

.login-container-img img {
  width: 20%;
  padding-bottom: 30px;
  float: right;
}

.login-container-text {
  padding-bottom: 55px;
}

.login-container-text a {
  margin-bottom: 0px;
}

.signup-left {
  background-image: linear-gradient(-225deg, rgba(162, 209, 87, 0.9) 0%, rgba(0, 110, 93, 0.9) 100%),
  url("/site_images/background.jpg");
  background-position: center;
  min-height: 100vh;
  background-size: auto 1400px;
  background-repeat: no-repeat;
  width: 50%;
  float: left;

  h1 {
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0.26px;
  }

  .sl-container {
    margin-top: 50%;
  }
}

/*
* Medium screens styling
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .login-container-text {
    margin-left: 15px;
  }

  .login-container-img img {
    margin-left: 10px;
  }
}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {
  .login-container-img img {
    margin-left: 51px;
  }

  .login-container {
    margin-top: 80px;
  }

  .login {
    width: 100%;
    min-height: auto;
  }

  .signup-left {
    width: 100%;
    min-height: 200px;

    .sl-container {
      margin-top: 25%;
    }
  }
}