.middle-content {

  ul {
    list-style-type: none;
  }
}

.left-block {
  background: $grey-background;
  border-right: 1px solid rgba(185, 185, 185, 0.47);
  height: 100vh;
  padding-top: 60px;
  position: fixed;
  padding-right: 40px;
  width: 18%;
  margin-left: -43px;
}

.left-block-hidden {
  background: #f2f2f2;
  border-right: 1px solid rgba(185, 185, 185, 0.47);
  height: 100vh;
  padding-top: 60px;
  position: fixed;
  padding-right: 40px;
  width: 3%;
  margin-left: -43px;
  margin-top: 50px

  i {
    padding-right: 1rem;
  }
}

//.right-block {
//  width: 96.33333% !important;
//  padding-top: 10px;
//  padding-right: 10px;
//  margin-top: 50px;
//  font-size: 0.75rem;
//}

.main-block {
  margin-top: 60px;
  font-size: 0.75rem;
}

.row .content-section .row {
  margin: 0 0;
}

.tabs {
  border: none;
  border-bottom: 1px solid #dedede;
}

.tabs-content {
  border: none !important;

  a {
    color: $dark-blue;
  }
}

.tabs-title>a {
  color: $dark-blue;
  padding-left: 60px;
  padding-right: 60px;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  background: #fefefe;
  color: $dark-blue;
  border-bottom: 2px solid $lighter-green;
}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {
  .left-block {
    width: 38%;
    margin-left: 0;
  }
}