.entry-modal{
  border:none;
  width:60%;
  height: auto;
  position:relative;
  background-image:linear-gradient(-225deg, rgba(0, 110, 93, 0.9) 0%, rgb(163, 207, 94) 100%),
  url("/site_images/background.jpg");
  //linear-gradient(-225deg, rgba(0, 110, 93, 0.9) 0%, rgba(0, 110, 93, 0.9) 100%),
  //url("/site_images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.form-modal{
  background-color: #ffffff;
  height: 100%;
  padding: 25px;
}
.title-modal {
  height: 100%;
}
.title-text{
  color:#ffffff;
  h3{
    margin-top:120%;
    font-size: 23px;
    font-weight: 600;
  }
  p{
    font-weight: 500;
    font-size: 18px;
  }
}
.title-text-small{
  color:#ffffff;
}
.export-modal{
  background-color: #ffffff;
  margin-top: 5%;
  width: 60%;
  padding: 10px;
}
.export-modal-content{
  h4{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  h6{
    margin-top: 2%;
    font-weight: 600;
  }
  label{
    font-weight: 600;
  }
  .select2{
    width: 100% !important;
    font-size: 12px !important;
  }
  .submit{
    text-align: center;
    margin-top: 2%;
  }
}