/*
* Menu  Bar styling
*/
.standard-font {
  font-size: 15px;
}

.top-bar {
  padding: 0;
  padding-left: .5rem;
}

.title-area {
  width: 5%;
}

#logout {
  color: $dark-blue !important;
  position: relative;
  padding: 8px;
  text-align: center;
}

#logout:after {
  content: "";
  position: absolute;
  top: -30.1px;
  right: 63px;
  height: 0;
  width: 0;
}

#logout:hover {
  background: #eaeaea;
  width: 100%;
  padding: 8px;
}

.contain-to-grid {
  width: 100%;
  background: #fff;
  height: 51px;
  position: fixed;
  z-index: 20000;
}

#logo {
  background: transparent;
}

.project-title {
  font-weight: 200;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #fff transparent transparent;
}

.contain-to-grid .top-bar {
  margin: 0 auto;
  background: #fff;
  height: 51px;
  max-width: 100%;
  border-bottom: 1px solid rgba(185, 185, 185, 0.47);

  .fa {
    color: #848484;
  }

  .top-bar-section ul li > a {
    font-size: 0.7125rem;
  }
}

.logo img {
  max-height: 35px;
  max-width: 156px;
  margin-right: 10px;
}

.top-bar .top-bar-title {
  .menu > li > a {
    padding: 0;
  }
}

.top-bar-section .top-bar-right {
  color: #FFF;
  .menu > li > a {
    padding: 1px;
  }
  #fa-reminder {
    border: none;
    background: $dark-blue !important;
  }
  .fa {
    padding: 19px;
    background: inherit;
  }
  input {
    height: 50px !important;
    border-top: none;
    box-shadow: none;
    border-right: none;
  }
  .user-name {
    padding: 16.5px !important;
    padding-right: 70px !important;
    background: $lighter-green !important;
  }

  .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    margin-right: 10px;
    border-color: #ffffff transparent transparent;
  }
}

.top-bar-section .top-bar-right .dropdown {
  color: $cytonn-light-green;
}

.top-bar-section .top-bar-right .dropdown i {
  color: #fff;
}

.top-bar-section .top-bar-right li:not(.has-form) a:not(.button) {
  text-align: right;
  line-height: inherit;
  color: #fff;
}

.top-bar-section .dropdown a:not(.button):hover {
  color: $cytonn-light-green;
}

.top-bar-section .dropdown > a {
  padding-right: .9375rem !important;
}

.top-bar-section .top-bar-left {
  padding-top: 10px;
  font-size: 24px;
  color: #006b5b;
  background: transparent;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  top: 70%;
  box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}

.top-bar-section ul li, .top-bar.expanded .title-area, .top-bar ul {
  background: #fff;
}

.dropdown {
  background: transparent;
}

.profile-pic {
  width: 50px;
  height: 51px;
}

.fa-user-circle {
  font-size: 30px;
  margin-right: 15px;
  margin-top: -10px;
  margin-left: -15px;
}

.notifications {
  width: 300px;
  padding: 5px;
  color: $dark-blue;
  font-size: 0.75rem;

  .notifications-item {
    border-bottom: 1px solid $border-color;
  }

  .search-item {
    border-bottom: 1px solid $border-color;
  }
  .search-item:hover {
    background: $grey-background;
  }
  .notifications-item:hover {
    background: $grey-background;
  }
  .more-notifications {
    border: none;
    background: $grey-background;
    text-align: center !important;
    color: $dark-blue !important;

  }

  a h6  {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: $dark-blue !important;
    text-align: left !important;
  }

  a p {
    padding: 0;
    margin: 0;
    color: $light-grey;
    text-align: left !important;
  }
}

sup {
  position: absolute;
  background-color: red;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  line-height: 16px;
  padding-left: 5px;
  font-size: 1px;
  top: 17px;
  left: 28px;
}

a#fa-reminder::after {
  border: none;
}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {
  .top-bar-section .top-bar-left {
    border-left: none;
  }

  .top-bar-section .top-bar-left, .top-bar-section .top-bar-right {
    width: inherit;
  }

  .top-bar .top-bar-title {
    .menu > li > a {
      padding: 0 !important;
    }
    padding: 10px 0 0;
  }

  .fa-search {
    padding: 4% 0 0 3%;
  }

  .title-area {
    width: 100%;
  }

  .project-title {
    font-size: 20px;
  }

  .top-bar-section .top-bar-left {
    padding-top: 0;
  }
}

/*
* Medium screens styling
*/


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar-section .top-bar-left {
    margin-left: 14px;
    font-size: 27px;
  }

  .top-bar-section .top-bar-right {
    margin-right: 0;
  }

  .top-bar-section .top-bar-right .dropdown {
    margin-right: 5px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1000px) {
  .logo img {
    max-width: 100px;
  }
  .top-bar-section .top-bar-left {
    margin-left: 0;
    font-size: 15px;
  }

  .top-bar-section .top-bar-right {
    margin-right: 0 !important;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0.1rem;
  }
  .profile-pic {
    width: 50px;
    height: 51px;
    margin-right: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 479px) {
  .my-title{ display: none !important; }
}
@media screen and (min-width: 480px) and (max-width: 760px) {
  .my-title{ display: none !important; }
}
@media only screen and (min-width: 761px) {
}
.mobile-menu-btn{
  color: #ffffff; border: none;
}
@media screen and (max-width: 355px) {
  .global-search{
    width:80px;
  }
}
