.prof-pic{
  border: solid #D3D3D3 1px;
  margin-right: 13px;
}
.profile-avatar{
  height: 200px;
  width: 100%;
}
.profile-details{
  float:left;
}
.prof-name{
  font-size: 30px;
  font-weight: lighter;
}

.profile-info-table {
  tr{
    line-height: 1;
    text-align: left;
  }
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  th{
    font-weight: normal;font-size: 12px;color:#808080;
  }
}
.profile-info-table tr:nth-child(even) {
  background-color: #ffffff;
}
.recent-tasks{
margin-top:2%;
}

.issues-table {
  margin-top: 1%;border: none;
}
.issues-table tr:nth-child(even) {
  background-color: #ffffff;
}
.issue-title{
  font-weight: bold;
}
@media screen and (max-width: 39.9375em) {
  .prof-tb-td{
    display:none !important;
  }
}
