.add-item{
  text-align: left;
}
.item-input{
  width:80%;
  textarea{
    font-size: 12px;
  }
}
.item-label{
  text-align: center;
  label {
    font-weight: 600;
  }
}
.daily-form{
  margin-top:3%;
  margin-left: 10%;
  margin-right: 10%;
  label{
    font-weight: bold;
  }
  textarea{
    font-size: 13px;
  }
  input[type='text']
  {
  }
  select{
    font-size: 12px;
    width:99%;
    font-size: 13px;
  }
  button{
  }
}
.submit-task.button {
  background: $lighter-green;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
}
.submit-task.button:hover {
  background: $dark-blue;
}
.item-share{
  width: 80%;
}
.department-filter{
  font-size: 13px;
  float: left;
  width:95%;
  margin-left: 2%;
}
.report-table{
  border: solid #d3d3d3 1px;
  border-radius:5px;
}
.edit-item{
  margin-left: 40px;
}
.mce-panel{
  background-color: #ffffff !important;
}
.report-modal{
  height:60%;
  border-radius: 17px;
  padding: 0;
  .modal-heading {
    background: $lighter-green;
    height: 70px;

    h6 {
      text-align: left;
      padding: 20px;
      color: $dark-blue;
      padding-left: 10px;
    }
  }
  .modal-form {
    padding: 10px;

    .button {
      width: 90px;
    }
  }
}
.report-header{
  text-align: center;
  background-color: $dark-blue;
  color: #ffffff;
  th{
    text-align: center;
  }
}
.progress-table{
  padding: 10px;
  width: 100%;
}
.report-progress{
  width: 95%;
}
.details-header{
  background-color: $dark-blue;
  color: #ffffff;
}