/*
* Side nav styling
*/
.menu.nested {
  margin-left: 0 !important;
}

.menu.nested a {
  margin-left: 30px !important;
}

.side-nav ul li, .side-nav ul .side-nav-bottom li {
  //height: 35px;
  padding-top: 2px;
}

.side-nav li a:not(.button) {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  // padding: .4375rem 20px;
  color: #fff;
}

.side-nav li a:not(.button):focus, .side-nav li a:not(.button):hover {
  color: $lighter-green;
  font-weight: 500;
}

.side-nav {
  margin-left: 0;
  margin-top: 50px;
  background: $dark-blue;
  min-height: 100vh; //make the height=browsers height
  position: fixed;

  //ul {
  //  margin-left: 0;
  //  list-style-type: none;
  //}

  li a .fa {
    padding-left: 10px;
  }

  .is-accordion-submenu-parent[aria-expanded="true"]{
    background-color: #263238;
  }

  .is-accordion-submenu-parent>a:after {
    border-color: #fff transparent transparent;
  }

  li a {
    padding-left: 3px;
  }

  ul .current {
    background-color: $lighter-green;

    a .fa, a {
      color: $dark-blue;
    }

    a:hover,  a .fa:hover{
      color: #fff;
    }
  }

  .current .side-nav-svg {
    fill: $dark-blue;
  }

  .side-nav-svg {
    fill: $dark-blue;
  }
}

.has-tip {
  border-bottom: none;
  padding: 10px;
  cursor: pointer;
}

//.side-nav .side-nav-menu {
//  width: 82%;
//}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {
  .side-nav {
    position: relative;

  }
  .mynav{
    background-color: $dark-blue;
    height:100%;
    font-size: 13px;
    font-weight: 400;
    li a:not(.button) {
    color: #ffffff;
    }
      a:hover,  a .fa:hover{
        color: #fff;
      }
    ul .current {
      background-color: $lighter-green;
    }
  }
  .position-left {
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;

    /* overflow-y: auto; */
  }

  .side-nav ul {
    height: 24px;
    margin-left: 20px;
  }

  .side-nav ul li {
    float: left;
    padding-top: 10px;
    border-bottom: none;
  }

  .side-nav li a:not(.button) {
    padding-left: 0px;
    margin-left: 0px;
  }

  .side-nav ul .has-dropdown > a:after {
    display: none;
  }

  .side-nav li a:not(.button) {
    padding: .4375rem 0.3rem;
      color: #fff;

  }
  .side-nav li a:not(.button):focus, .side-nav li a:not(.button):hover {
    color: $lighter-green;
    font-weight: 500;
  }
  li a .fa {
    padding-left: 10px;
  }

  .is-accordion-submenu-parent[aria-expanded="true"]{
    background-color: #263238;
  }

  .is-accordion-submenu-parent>a:after {
    border-color: #fff transparent transparent;
  }

}


@media screen and (min-width: 761px) and (max-width: 980px) {

}

@media screen and (min-width: 640px) and (max-width: 1000px) {

}
