/*
* General project styling
*/

//@import "select2.css";
@import "variables";
@import "board";
@import "issues";
@import "login";
@import "nav";
@import "auth";
@import "sidenav";
@import "reports";
@import "profile";
@import "main_content";
@import "dashboard";
@import "tasks/tasks_index";
@import "tasks/tasks_add";
@import "tasks/reminders";
@import "tasks/comments";
@import "users/user_follows";
@import "users/summary";
@import "tasks/progress";
@import "404";
@import "modals";
@import "hover_details";
@import "tasks/create_modal";


body {
  font-family: proxima-nova, sans-serif;
}
.select2-container.form-control{
  width:100%;
}

.alert-box {
  margin-top: 15px;
}

.sub-title{
  font-size: 18px;
}

.green {
  background-color: $dark-blue;
  color: white;
}

.padding-left-0{
  padding-left: 0;
}

.green th {
  color: white;
}

.table {
  width: 100%;
}

.button {
  padding: 10px;
  color: #000;
  //background-color: #f5f5f5;
  //border-bottom: 2px solid #888888;
  //border-right: 1px solid #888888;
  margin-left: 10px;
  background: none;
  font-size: 0.7rem;
  border: solid 1px;
  border-radius: 4px;
}

.button:hover, .button:focus {
  background-color: $lighter-green;
}

.main-container .row {
  max-width: 100%;
}

.active a {
  background-color: #008CBA !important;
}

ul.pagination li a {
  background-color: #43AC6A;
  color: white;
}

ul.pagination {
  margin-bottom: 0;
}

ul.pagination li a:hover {
  background-color: #43AC6A;
}

.main-container .row .columns {
  padding-left: 0;
  padding-right: 0;
}

.content-section, body {
  background-color: #ffffff;
  height: auto;
  min-height: 100vh; //make the height=browsers height
}

//.content-section-header {
//  height: 86px;
//}

.content-section-text {
  font-size: 0.75rem;
  color: $dark-blue;
  background-color: #fff;

  h3 {
    font-size: 21px;
    font-weight: 500;
  }

  select {
    font-size: 1em;
  }

  drop-down {
    color: $dark-blue;
  }

  input[type='text'], input[type='textarea'] {
    color: $dark-blue;
    font-size: 1em;
  }
}

.content-section-header h1 {
  margin: 0;
  padding: 5px 20px 5px 22px;
  font-size: 1.5rem;
  font-weight: 300;
  color: $dark-blue;
}

.content-section-header h1 a {
  color: $dark-blue !important;
}

//.main-container .content-section .row .columns {
//  padding-left: 30px !important;
//  padding-right: 30px !important;
//}

.reveal.download-summaries {
  width: 75em !important;
}

.reveal-overlay {
  top: 60px !important;
}

/*
* Small screens styling
*/
@media screen and (max-width: 39.9375em) {
  .content-section-header h1 {
    margin: 0;
    margin-left: 27px;
    padding-top: 23px;
    font-size: 24px;
    font-weight: 400;
  }

  .activity-stream {
    padding-left: 30px !important;
  }
}

/*
* Medium screens styling
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .content-section-header h1 {
    margin: 0;
    margin-left: 33px;
    padding-top: 23px;
    font-size: 25px;
    font-weight: 400;
  }

  .activity-stream {
    padding-left: 30px !important;
  }
}
.revealHeader {
  text-align: center;
  font-style: italic;
  padding-bottom: 1.5rem;
  text-shadow: 1px 1px 1px white;
}

.table_un_styled{

  .no-borders{
    border: none;
    margin-bottom: 1rem;
  }

  table tr.alt, table tr.even, table tr:nth-of-type(even) {
    background: #fff;
  }

}

.taskform-inputs{
    display:none;
}

[v-cloak] {
  display: none;
  -webkit-transition: width .30s ease-in-out;
  transition: width .30s ease-in-out;
}

.callout {
  margin: 1rem 1rem 1rem;
}

a.disabled {
  cursor: not-allowed;
}
.projects{
  color:#000000;
  a{
    color:#000000;
  }
}
