.tasks-chat {
  list-style: none;
  background: none;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 1px;
  min-height: 200px;
}

.tasks-chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.tasks-chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.tasks-chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

//.tasks-comments-all {
//  margin-top: 12em;
//}

.tasks-comments {
  height: auto;
  border: solid 1px $border-color !important;
  width: 80%;
  margin-left: -1%;
  margin-top: 10px;
  background: $grey-background;

  .chat-comments-control {
    //border: solid 1px #bcc2c7 !important;
    //width: 80%;
    //margin-left: -1%;
    //margin-top: 10px;
    //background: #ecece7;
  }

  .chat-comments-control input[type="textarea"].comment-box {
    width: 85% !important;
    padding: 5px !important;
    border: none;
    border-bottom: 1px solid $border-color;
  }
  .send-div {
    background-color: $lighter-green;
    color: #ffffff;
    text-align: left;
    height: 50px;
  }

  .sendbox .send {
    padding: 0 !important;
    margin-top: 8px !important;
    margin-left: -4px;
    color: #ffffff;
    font-size: 25px;
    background-color: $lighter-green;
    float: left;
  }

  .sendbox .send:hover {
    font-size: 35px;
  }

  .sendbox .send:hover {
    font-size: 35px;
  }

  .attachbox .clip:hover {
    font-size: 35px;
  }

  .attachbox .clip {
    color: $dark-blue;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    float: none;
  }

  .attachbox .user:hover {
    font-size: 35px;
  }

  .attachbox .user {
    color: $dark-blue;
    font-size: 25px;
    margin-top: 10px;
    float: right;
  }

  .attachbox {
    height: 0;
    width: 150px;

    input[type="file"] {
      display: none;
    }
  }
  .attachbox .image {
    color: $dark-blue;
    padding-left: 10px;
  }

  .task-comments-fields {
    padding: 10px;
  }
}

.new-comment {
  border-top: 1px solid $lighter-green;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  width: 84%;
  z-index: 9;
  margin-left: -10px;
}
@media screen and (max-width: 39.9375em) {
  .new-comment {
    width:98%;
  }
  .comment-col{
    padding-top: 5px;
    padding-left: 5px;
  }
  .comm-div{
    margin-left:5%;
  }
}

.mycomment-box {
  border: none;
  font-size: 12px;
  resize: none;
  color: #000000;
  box-shadow: none;
  height: 10px;
  margin-top: 5px;
}

.myclip {
  font-size: 3vh;
  margin-top: 5px;
}

.percentage-done {
  input[type="number"] {
    box-shadow: none;
    font-size: 12px;
  }
}

input[type="number"]::-webkit-input-placeholder {
  color: $dark-blue;
}

textarea::-webkit-input-placeholder {
  color: $dark-blue;
}

.send-icon {
  font-size: 3vh;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}

.send-icon:focus {
  box-shadow: none;
  outline: none;
}

.mysendbox {
  background-color: $lighter-green;
  height: 45px;
}

.comment-col {
  border-right: solid #d3d3d3 1px;
  height: 45px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {

}

.inputfile:focus + label,
.inputfile + label:hover {

}

.comment-col {
  text {
    border: solid $dark-blue 1px;
  }
}

input[type="text"]::-webkit-input-placeholder {
  color: $dark-blue;
  opacity: 1;
}