.task-modal{
  border:none;
  width:60%;
  height: auto;
  position:relative;
  background-color: #f3f3f3;
  margin: auto;
}
.task-modal-header{
  border-bottom: 1px solid #cacaca;
}
.task-modal-create{
  h6{
    font-size: 16px;
    font-weight: 600;
  }
  padding: 0.9em 0.5em 0.5em 2em;
}
.task-modal-close{
  padding: 0.9em 0.5em 0.5em 2em;
  a{
    color: red;
  }
}
.more-fields{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  span{
    border: solid black 1px;
    padding: 0.2em 0.4em;
    font-size: 12px;
    background: #ffffff;
  }
  a{
    color: #000000;
  }
  hr{
    margin-top: -1.5%;
  }
}
.task-modal-body{
  margin-top: 2%;
  label{
    font-weight: 600;
    font-size: 13px;
  }
  input[type=text], select {
    font-size: 12px !important;
    height: 2.1rem;
    box-shadow: none !important;
  }
  textarea{
    box-shadow: none;
    resize: none;
    font-size: 13px;
  }
  input[type=submit]{
    margin-top: 2%;
  }
  .select2{
    width: 100% !important;
    font-size: 13px !important;
  }
  .el-date-editor.el-input {
    width: 100% !important;
  }
}
.files{
  padding: 1% 1% 0 1%;
  margin-bottom: 2%;
  background: #ffffff;
  font-size: 13px;
  input[type=file]{
    line-height: 0 !important;

  }
}
.task-loading {
  background-color: #82CA9C;
  color: #ffffff;
  font-size: 12px;
  -webkit-animation: swing 1s ease;
  animation: 1s ease-out 0s 1 slideInFromRight;
  h4 {
    font-size: 12px;
  }
}
.el-notification{
  top: 10% !important;
  color:#82CA9C !important;
  font-size: 13px !important;
}
.el-table td, .el-table th {
  padding: 0 !important;
}
.el-table th {
  background-color: #ffffff !important;
  .cell{
    background-color: #ffffff !important;
  }
}
.modal-input{
  padding: 0 5px 0 5px !important;
}
.el-form-item {
margin-bottom: 0 !important;
}
.el-select{
  width: 100% !important;
}
input[readonly]{
  background-color: #ffffff !important;
}
.help-text{
  color: red;
  p{
    line-height: 0.2px;
  }
}
.el-select .el-input .el-input__icon {
  top: 38% !important;
}
.el-icon-date{
  top:-6px !important;
}
.dialog-footer{
  margin-top: 2% !important;
}
.el-form-item__error {
  top: 84% !important;
}
.el-upload {
  width: 100%;
}
.el-upload-dragger {
  width: 100% !important;
  height: 142px !important;
}
.mod-title{
  margin-top: -10px;
  h6{
    font-weight: 600;
  }
}
.mod-close{
  margin-top: -10px;
  a{
    color: red;
    font-weight: 600;
  }
}
.el-dialog__header{
  display: none !important;
}
.el-select__input{
  width: 250px !important;
  max-width: 548px;
  border: none !important;
}
.el-select-dropdown{
 margin-top: -9px !important;
}
.task-description{
  margin-left: 15px;
}