
.task-progress {
  margin: 20px;
  padding: 40px;
  padding-top: 20px;

  .button {
    margin-right: 12px;
  }

  .progress-info {
    color: $dark-blue;
    font-size: 0.75rem;

    .fa {
      color: $dark-blue;
    }
  }

  .notifications-info a{
    color: $dark-blue;
    font-size: $standard-font-size;
  }

  h5 {
    padding-right: 30px;
    padding-top: 10px;
    color: $dark-blue;
    font-size: 1.75rem;
    font-weight: 300;
  }

  .ul.pagination li a, .ul.pagination li a:hover {
    background: none !important;
    color: $dark-blue !important;
  }
}