
.reminders {
  margin: 20px;
  .button {
    margin-right: 12px;
  }

  .reminders-info {
    padding-left: 40px;

    .reminder-card {
      width: 300px;
      border: 1px solid $border-color;
      margin-bottom: 10px;

      .card-divider{
        padding: 1rem;
        background: #ffffff;
        color: $dark-blue;
        height: 80px;
        h6 {
          font-size: 0.75rem;
        }
        .fa {
          color: $dark-blue;
        }
      }

      .card-section {
        background: $grey-background;
        height: 30px;
        padding: 10px;

        p {
          font-style: italic;
          color: $dark-blue;
        }
      }
    }
  }

  h5 {
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    color: $dark-blue;
    font-size: 1.75rem;
    font-weight: 300;
  }
}