.task-form-controls {
  .submit-task.button {
    margin-left: 0;
    background: $lighter-green;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
  }
  .submit-task.button:hover {
    background: $dark-blue;
  }
  select {
    border: 0;
    background-image: none;
    font-size: 1em;
    margin: 0;
  }

  label {
    border: 0;
    font-size: 0.65rem;
    background: #dedede;
    padding: 5px;
    color: black;
  }

  drop-down {
    border: 0;
    background-image: none;
    color: $dark-blue;
  }

  input[type='text'],input[type='number'] {
    color: $dark-blue;
    font-size: 1em;
    border: 0;
    background-image: none;
    box-shadow: none;
    margin: 0;
  }

  input[type='text'],input[type='number']:hover, select:hover, input[type='text']:focus, select:focus {
    background: $grey-background;
    //border: 1px solid $dark-blue;
  }

  input[type="text"],input[type='number']::-webkit-input-placeholder {
    color: $dark-blue;
    opacity: 1;
  }

  .multiselect__tags {
    border: none;
    background-image: none;
    color: $dark-blue;
    font-size: 0.75rem;
    box-shadow: none;
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
  }

  .multiselect__select:before {
    display: none;
  }

  file {
    border: 0;
    background-image: none;
  }

  p {
    cursor: pointer;
    margin: 0;
    padding-left: 5px;
  }

  hr {
    margin: 0;
  }

  [type=file] {
    margin: 0;
  }

  .mce-panel {
    border: 0 solid $lighter-green;
    background-color: white;
  }
  .mce-btn {
    background-color: white;
  }

  .create-task {
    border: 1px solid $border-color;
    margin-top: 10px !important;
  }

  .create-task-col {
    border-left: 1px solid $border-color;
  }

  .create-task-col:hover, .create-task-col-2:hover {
    background: $grey-background;
    border: 1px solid $dark-blue;
  }

  .tinymce-label {
    label {
      margin-top: 10px !important;
    }
  }
}

.datetext {
  color: #000000;
  border: 0;
  font-size: 1em;
  background-image: none;
}

.new-field {
  margin-top: 2%;
}

.file-upload {
  width: 90%;
  padding-bottom: 10px;
  margin-top: 10px;
}

.repetitive {
  display: block;
}

.not-repetitive {
  display: none;
}

.project-create-form {
  padding: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #82ca9c !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #82ca9c !important;
  border: none !important;
  color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: white !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
  color: $dark-blue !important;
}
.task-timeline{
  width: 100%;
  background-color: #82CA9C;
  border-radius: 5px;

    color: #000000;
    font-weight: bold;

}
.task-timeline:hover{

    color:#ffffff;

  background-color: $dark-blue;
  cursor: pointer;
}

