.tasks-heading {
  font-size: small;
  font-weight: 500;

  i {
    padding-right: 1rem;
    font-size: 0.75rem;
  }
  a.pull-right {
    font-size: 0.75rem;
  }
}

.tasks-menu p {
  font-size: small;

  span {
    padding-right: 1rem;
  }
}

.content-section-text {
  padding: 10px;
  .select-boxes .columns {
    padding-left: 10px !important;

    select {
      font-size: 0.70rem !important;
    }
  }

  .columns .pagination select {
    font-size: 0.75rem !important;
    width: 60px;
    color: $dark-blue;
  }

  .button.expanded {
    text-align: left;
    border: none;
    padding: 20px;
    background: $lighter-green;
  }
  .button.task-member {
    text-align: left;
    border: none;
  }

  .button.task-member:hover {
    background: $lighter-green;
  }

  table thead tr:nth-child(even),
  table thead tr.even,
  table tbody tr:nth-child(even),
  table tbody tr.even {
    background: transparent;
    color: $dark-blue;
  }

  table thead {
    background: transparent;
    color: $dark-blue;
  }

  table thead tr td, table tbody tr td {
    border-bottom: 1px solid #cacaca;
  }

  table {
    border-collapse: collapse;
  }

  table tbody tr:hover {
    background: $grey-background;
    border-left: 1px solid $lighter-green;
  }

  table tbody tr, table thead tr {
    border: none;
  }

  table tbody tr:hover td .show-view {
    display: block;
  }

  table tbody tr td .show-view {
    display: none;
  }

  td.task-description {
    background: $grey-background;
  }

  .task-show {
    padding-left: 10px;

    .task-heading {
      //font-family: ProximaNova-Bold;
      //font-size: 11px;
      //color: $dark-blue;
      //letter-spacing: 0;
      margin-bottom: 0;

      a, a:hover {
        color: $dark-blue;
        font-size: 0.75rem;
        padding-top: 2px;
      }

      ul.more-task-details {
        font-size: 0.75rem;
        margin-right: 20px;

        li {
          padding-left: 10px;
        }
      }
    }
  }
}

input[type=text] {
  font-size: 0.70rem !important;
}

.pm-modal {
  display: block;
  top: 40%;
  padding: 0;
  border-radius: 17px;

  .modal-heading {
    background: $lighter-green;
    height: 70px;

    h6 {
      text-align: left;
      padding: 20px;
      color: $dark-blue;
      padding-left: 10px;
    }
  }
  .modal-form {
    padding: 10px;

    .button {
      width: 90px;
    }
  }
}

.task-files-display {
  width: 300px;
  margin: 10px;
}
.timeline-search{
  width: 60%;
  float:left;
  font-size: 12px !important;
  height:32px;
}
.button.project-member{
  background:#f5f5f5 !important; ;
  border:none;
}
.button.project-member:hover {
  background:#d3d3d3 !important;
  color:#000000;
}
.remove-member{
  color: #000000;
  font-weight: 100;
  vertical-align: super;
  margin-left: 3px;
}
.components-tbl{
 border-collapse: separate !important;
  width: 100% !important;
  tr td{
    background-color:#f5f5f5 !important ;
    border: none !important;
  }
  a{
    padding-left: 10px !important;
  }
}
.milestone-tbl{
  width: 100% !important;
  border-collapse: separate !important;
  thead th{
    background-color: $dark-blue;
    color: #ffffff;
  }
  tbody tr td{
    background-color:#f5f5f5 !important ;
    border: none !important;
  }
}


