<script>
    import Vue from 'vue';
    import moment from 'moment';

    export default {
        filters: {
            truncate: function(string, value) {
                string = (string.length > value) ? string.substring(0, value) + '...' : string;
                return string;
            }
        },
        props: {
            auth_user:{
            },
            issue: {
                required: true,
                'default': {}
            }
        },
        computed: {
            data: function () {
            }
        },
        methods: {
            isOverdue: (issue) => {
                return moment().isAfter(issue.overdue_from);
            }
        }
    }
</script>
<style scoped>
    .card {
        border: 1px #e5e5e5 solid;
        border-radius: 3px;
        background: #fff;
        padding: 10px 5px;
        margin-bottom: 4px;
        color: #333;
        font-size: 14px;
        min-height: 85px;
    }

    .card-divider {
        min-height: 42px;
        background: white;
        padding: 0;
    }

    .card-section {
        padding: 0;
    }

    .assignment {
        font-size: 10px;
        color: #b9b9b9;
    }

    .priority-high {
        color: red;
    }

    .priority-low {
        color: #b9b9b9;
    }

    .priority-medium {
        color: green;
    }
    i {
        cursor: pointer;
    }
</style>
<template>
    <div class="card">
        <div class="card-divider">

            <span class="actions pull-right">
                <a :href="'/issue/'+issue.id"><i class="fa fa-eye"></i></a>

                <a v-if="auth_user==issue.by_id || auth_user == issue.lead " :href="'/'+issue.project_id+'/issue/'+issue.id+'/board/edit'"><i class="fa fa-edit"></i></a>

            </span>
            <p>{{ issue.title | truncate('50') }}</p>
        </div>
        <div class="card-section">
            <span class="assignment">
                {{ issue.by }} <i class="fa fa-long-arrow-right"></i> {{ issue.assigned }}
            </span>

            <div class="assignment">
                <span>{{ issue.key }}</span>
                <span class="pull-right">
                    <i v-if="isOverdue(issue) && issue.status_id < 4" class="fa fa-clock-o priority-high"></i>
                    <i v-if="issue.status_id < 4" :class="{ 'priority-high': issue.priority.level >0 , 'priority-medium':  issue.priority.level == 0, 'priority-low': issue.priority.level < 0}"
                       class="fa fa-circle-o"></i>
                </span>
            </div>
        </div>
    </div>
</template>