<template>
<div class="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container done" v-if="done">
                        <h3>Updated Successfully</h3>
                        <button class="button" @click="$emit('close')">OK</button>
                    </div>
                    <div class="modal-container" v-else>
                        <div class="modal-header">
                            <slot name="header"><h6>Please add time spent on this issue:</h6></slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <form>
                                    <div class="row">
                                        <div class="small-12 large-12 column">
                                            <label>Date*</label>
                                           <!--<input type="date" v-model="date" required>-->
                                            <el-date-picker
                                                    v-model="date"
                                                    type="date"
                                                    placeholder="Pick a day"
                                            ></el-date-picker>
                                        </div>
                                        <div class="small-6 large-6 column" required>
                                            <label>Start*</label>
                                            <el-time-picker
                                                    v-model="start_time"
                                                    :picker-options="{format:'HH:mm'}" placeholder="Select time"></el-time-picker>
                                            <!--<input name="start" v-model="start_time" type="time" required>-->
                                        </div>
                                        <div class="small-6 large-6 column" required>
                                            <label>Stop*</label>
                                            <!--<input name="stop"  v-model="end_time" type="time" required>-->
                                            <el-time-picker
                                                    v-model="end_time"
                                                    :picker-options="{format:'HH:mm'}" placeholder="Select time"></el-time-picker>
                                        </div>
                                        <span v-if="errors.start_time" class="help-text" v-text="errors.start_time"></span>
                                        <div class="small-12 large-12 column">
                                            <label>Description</label>
                                            <textarea name="description" v-model="description" rows="3" required></textarea>
                                            <span v-if="errors.description" class="help-text" v-text="errors.description"></span>
                                        </div>
                                    </div>
                                </form>
                            </slot>
                        </div>
                        <div class="row modal-footer load" v-if="loading">
                            <i class="fa fa-spinner fa-spin export-spin"></i>
                        </div>
                        <div class="row modal-footer" v-else>
                            <slot name="footer">
                                <div class="small-6 large-6 column">
                                    <button class="button" @click="$emit('close')">Cancel</button>
                                </div>
                                <div class="small-6 large-6 column">
                                    <button class="button pull-right" @click="updateIssue()">Save</button>
                                </div>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import locale from 'element-ui/lib/locale/lang/en'
    import ElementUI from 'element-ui'
    Vue.use(ElementUI, { locale });

    export default {
        data(){
            return{
                issue_id:null,
                date:null,
                start_time:null,
                end_time:null,
                description:null,
                loading:false,
                path:'/api/issue/'+this.issue+'/tracking',
                showModal:  !this.showModal,
                done: false,
                errors: {
                    description: '',
                    start_time:''
                }
            }
        },
        props: {
            issue:{
                required: true,
                default: 0,
            }
        },

        created(){

        },
        methods: {
            close: function () {
                this.show = false;
            },
            updateIssue: function(){
                let self = this;
                self.loading = true;
                let data = {
                    issue_id:this.issue,
                    date: new Date(this.date).toDateString(),
                    start_time:new Date(this.start_time).toTimeString(),
                    end_time:new Date(this.end_time).toTimeString(),
                    description:this.description,
                };
                Vue.http.post(this.path,data).then(function(response){
                    self.loading = false;
                    self.done = true;
                }).catch( ({data}) => {
                    console.log(data);
                    this.errors.description = data.description;
                    this.errors.start_time = data.start_time;
                    self.loading = false;
                });
            }
        }

    }
</script>
<style scoped>
    .modal-mask {
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 50%;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }
    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .load{
        text-align: center;
        color: #82CA9C;
    }
    .modal-body input[type='date'], input[type='time'], textarea{
        font-size: 12px;
    }
    .modal-body label{
        font-weight: 600;
        font-size: 12px;
    }
    .done{
        text-align:center;
    }
    .done h3{
        font-size: 17px;
    }
    .help-text{
        color:red;
    }
    .el-date-editor.el-input {
        width: 100%;
    }
</style>