<template>
    <div>
        <div class="row task-modal-body">
            <el-dialog title="" :show-close="false" :visible.sync="taskFormVisible">
                <div class="small-11 large-11 mod-title columns">
                    <h6>Create Task</h6>
                </div>
                <div class="small-1 large-1 mod-close columns">
                    <a  @click="close()" class="float-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <el-form :model="formData" :rules="rules" ref="formData">
                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Task Title" prop="title">
                            <el-input v-model="formData.title" auto-complete="off"></el-input>
                        </el-form-item>
                    </div>

                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Task Status" prop="status_id">
                            <el-select v-model="formData.status_id" placeholder="Select task status">
                                <el-option
                                        v-for="(item, key) in taskFields.status"
                                        :key="key"
                                        :label="item"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>

                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Assign Date" prop="assign_date">
                            <el-date-picker
                                    v-model="formData.assign_date"
                                    type="date"
                                    placeholder="Pick the assign date">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Due Date" prop="due_date">
                            <el-date-picker
                                    v-model="formData.due_date"
                                    type="date"
                                    placeholder="Pick the due date">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="small-12 large-12 modal-input columns">
                        <el-form-item label="Assign To" prop="assign_to">
                            <el-select v-model="formData.assign_to" filterable multiple placeholder="Select users to assign to">
                                <el-option
                                        v-for="(item, key) in taskFields.assign_to"
                                        :key="key"
                                        :label="item"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>
                    <div class="small-12 large-12 more-fields columns">
                        <a @click="moreFields()">
                            <span v-if="!more_fields">More Fields <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            <span v-if="more_fields">Less Fields <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                        </a>
                        <hr>
                    </div>
                    <div v-if="more_fields">
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Category">
                                <el-select v-model="formData.task_category_id" placeholder="Select task category">
                                    <el-option
                                            v-for="(item, key) in taskFields.task_categories"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Occurrence">
                                <el-select v-model="formData.interval" placeholder="Select task interval">
                                    <el-option
                                            v-for="item in intervalOption"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Access Level">
                                <el-select v-model="formData.task_access" placeholder="Select task access">
                                    <el-option
                                            v-for="item in accessOption"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Share With Users">
                                <el-select v-model="formData.user_group" multiple filterable placeholder="Select users to share with">
                                    <el-option
                                            v-for="(item, key) in taskFields.users"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-12 large-12 columns">
                            <el-form-item label="Share With Email Groups">
                                <el-select v-model="formData.email_group" multiple filterable placeholder="Select email groups to share with">
                                    <el-option
                                            v-for="(item, key) in taskFields.email_groups"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-12 large-12 modal-input columns">
                            <el-form-item label="Description">
                                <el-input  type="textarea" v-model="formData.description" auto-complete="off"></el-input>
                            </el-form-item>
                        </div>
                        <div class="small-12 large-12 columns">
                            <el-form-item label="Upload a file">
                                <br />
                                <div style="text-align:center">
                                    <el-upload
                                            class="upload-demo"
                                            drag
                                            ref="upload"
                                            :auto-upload="false"
                                            :data=this.formData
                                            :file-list="fileList"
                                            :on-success = "uploadSuccess"
                                            action="/api/post/task">
                                        <i class="el-icon-upload"></i>
                                        <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                                        <div class="el-upload__tip" slot="tip">Files should not be more than 5MB</div>
                                    </el-upload>
                                </div>
                            </el-form-item>
                        </div>
                    </div>
                </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="close()" v-if="!loading">Cancel</el-button>
                        <el-button type="primary" @click="submitUpload('formData')" v-if="!loading">Save Task</el-button>
                         <el-button type="primary"  v-if="loading"><i class="fa fa-spinner fa-spin"></i> Submitting...</el-button>
                    </span>
            </el-dialog>
        </div>
    </div>
</template>
<script>
    export default{
        data: function(){
            return {
                fileList:[],
                loading: false,
                taskDetails:{},
                upload:'',
                formData: {
                    task_access:'',
                    due_date:'',
                    description:'',
                    title:'',
                    assign_to:[],
                    assign_date:new Date().toDateString(),
                    task_category_id:'',
                    status_id:'1',
                    user_group:[],
                    email_group:[],
                    interval:'',
                },
                rules: {
                    title: [
                        { required: true, message: 'Task title is required', trigger: 'blur' }
                    ],
                    status_id: [
                        { required: true, message: 'The task status is required ', trigger: 'blur' }
                    ],
//                    assign_date: [
//                        { type: 'date',required: true, message: 'The date assigned is required ', trigger: 'blur' }
//                    ],
                    due_date: [
                        { type: 'date',required: true, message: 'The date due is required ', trigger: 'blur' }
                    ],
                    assign_to: [
                        { type: 'array',required: true, message: 'The task must be assigned to be valid ', trigger: 'blur' }
                    ],
                },
                intervalOption:[{
                    value: '0',
                    label: 'None'
                },{
                    value: '1',
                    label: 'Daily'
                },{
                    value: '7',
                    label: 'Weekly'
                },{
                    value: '30',
                    label: 'Monthly'
                }],
                accessOption:[{
                    value: 'public',
                    label: 'Public'
                },{
                    value: 'private',
                    label: 'Private'
                }],
                taskFields:{},
                more_fields: false,
                taskFormVisible: this.$root.taskFormVisible,
            }
        },
        methods: {
            submitUpload(formName) {
                let self = this;
                self.$refs[formName].validate((valid) => {
                        if (valid) {
                            if(self.$refs.upload) {
                                if (self.$refs.upload.uploadFiles[0]) {
                                    self.loading = !self.loading;
                                    self.$refs.upload.submit();
                                }
                                else{
                                    self.createTask();
                                }
                            }
                            else{
                                self.createTask();
                            }
                        } else {
                            return false;
                        }
                });
            },
            createTask: function()
            {
                let self = this;
                self.loading = !self.loading;
                axios.post('/api/post/task',self.formData).then(function(response){
                    self.formData = {
                        task_access:'',
                        due_date:'',
                        description:'',
                        title:'',
                        assign_to:[],
                        assign_date:'',
                        task_category_id:'',
                        status_id:'1',
                        user_group:[],
                        email_group:[],
                        interval:'',
                    };

                    self.loading = !self.loading;

                    self.$notify({
                        title: 'Success',
                        message: 'Task created',
                        type: 'success'
                    });
                });
            },
            moreFields: function()
            {
                this.more_fields = !this.more_fields;
            },
            getTaskFields: function()
            {
                let self = this;
                axios.get('/api/get/task-fields').then(function(response){
                    self.taskFields = response.data;
                })
            },
            close: function(){
                this.$root.taskFormVisible = false;
            },
            uploadSuccess: function(response, file, fileList){

                let self = this;
                self.formData = {
                    task_access:'',
                    due_date:'',
                    description:'',
                    title:'',
                    assign_to:[],
                    assign_date:new Date().toDateString(),
                    task_category_id:'',
                    status_id:'1',
                    user_group:[],
                    email_group:[],
                    interval:'',
                };
                self.$refs.upload.clearFiles();
                self.$notify({
                    title: 'Success',
                    message: 'Task created',
                    type: 'success'
                });
                self.loading = !self.loading;
            },
        },

        mounted: function(){
            this.getTaskFields();
        }
    }
</script>