<template>
    <div>
        <div class="row task-modal-body">
            <el-dialog title="" :visible.sync="dialogFormVisible">
                <div class="small-11 large-11 mod-title columns">
                    <h6>Edit Task</h6>
                </div>
                <div class="small-1 large-1 mod-close columns">
                    <a  @click="dialogFormVisible = false" class="float-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <el-form :model="taskDetails">
                    <div class="small-12 large-12 help-text columns">
                        <p v-if="errors.title"  v-text="errors.title"></p>
                        <p v-if="errors.assign_to" v-text="errors.assign_to"></p>
                        <p v-if="errors.assign_date" v-text="errors.assign_date"></p>
                        <p v-if="errors.due_date" v-text="errors.due_date"></p>
                    </div>
                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Task Title">
                            <el-input v-model="title" auto-complete="off"></el-input>
                        </el-form-item>
                    </div>

                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Task Status">
                            <el-select v-model="status_id" placeholder="Select task status">
                                <el-option
                                        v-for="(item, key) in taskFields.status"
                                        :key="key"
                                        :label="item"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>

                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Assign Date">
                            <el-date-picker
                                    v-model="assign_date"
                                    type="date"
                                    placeholder="Pick the assign date">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="small-6 large-6 modal-input columns">
                        <el-form-item label="Due Date">
                            <el-date-picker
                                    v-model="due_date"
                                    type="date"
                                    placeholder="Pick the due date">
                            </el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="small-12 large-12 modal-input columns">
                        <el-form-item label="Assign To">
                            <el-select v-model="assign_to" multiple filterable placeholder="Select users to assign to">
                                <el-option
                                        v-for="(item, key) in taskFields.assign_to"
                                        :key="key"
                                        :label="item"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>
                    <div class="small-12 large-12 more-fields columns">
                        <a @click="moreFields()">
                            <span v-if="!more_fields">More Fields <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            <span v-if="more_fields">Less Fields <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                        </a>
                        <hr>
                    </div>
                    <div v-if="more_fields">
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Category">
                                <el-select v-model="task_category_id" placeholder="Select task category">
                                    <el-option
                                            v-for="(item, key) in taskFields.task_categories"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Occurrence">
                                <el-select v-model="interval" placeholder="Select task interval">
                                    <el-option
                                            v-for="item in intervalOption"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Access Level">
                                <el-select v-model="task_access" placeholder="Select task access">

                                    <el-option
                                            v-for="item in accessOption"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-6 large-6 modal-input columns">
                            <el-form-item label="Share With">
                                <el-select v-model="user_group" multiple filterable placeholder="Select users to share with">
                                    <el-option
                                            v-for="(item, key) in taskFields.users"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-12 large-12 columns">
                            <el-form-item label="Share With Email Groups">
                                <el-select v-model="email_group" multiple filterable placeholder="Select email groups to share with">
                                    <el-option
                                            v-for="(item, key) in taskFields.email_groups"
                                            :key="key"
                                            :label="item"
                                            :value="key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        <div class="small-12 large-12 modal-input columns">
                            <el-form-item label="Description">
                                <el-input  type="textarea" v-model="description" auto-complete="off"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                </el-form>
                <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false" v-if="!loading">Cancel</el-button>
                        <el-button type="primary" @click="updateTask()" v-if="!loading">Save Task</el-button>
                         <el-button type="primary"  v-if="loading"><i class="fa fa-spinner fa-spin"></i> Submitting...</el-button>
            </span>
            </el-dialog>
        </div>
    </div>
</template>
<script>
    export default{
        props:{
            task:{
                required: true,
            }
        },
        data: function(){
            return {
                loading: false,
                taskDetails:{},
                task_access:'',
                due_date:'',
                description:'',
                title:'',
                assign_to:[],
                assign_date:'',
                task_category_id:'',
                status_id:'',
                user_group:[],
                email_group:[],
                intervalOption:[{
                    value: '0',
                    label: 'None'
                },{
                    value: '1',
                    label: 'Daily'
                },{
                    value: '7',
                    label: 'Weekly'
                },{
                    value: '30',
                    label: 'Monthly'
                }],
                accessOption:[{
                    value: 'public',
                    label: 'Public'
                },{
                    value: 'private',
                    label: 'Private'
                }],
                interval:'',
                taskFields:{},
                more_fields: false,
                dialogFormVisible: true,
                errors: {
                    assign_to:'',
                    assign_date:'',
                    due_date:'',
                    title:''
                }
            }
        },
        methods: {
            moreFields: function()
            {
                this.more_fields = !this.more_fields;
            },
            getTaskFields: function()
            {
                let self = this;
                axios.get('/api/get/task-fields').then(function(response){
                    self.taskFields = response.data;
                })
            },
            updateTask: function()
            {
                let self = this;
                self.loading = true;
                let data = {
                    task_access:this.task_access,
                    due_date:this.due_date,
                    description:this.description,
                    title:this.title,
                    assign_to:this.assign_to,
                    assign_date:this.assign_date,
                    task_category_id:this.task_category_id,
                    status_id:this.status_id,
                    user_group:this.user_group,
                    interval:this.interval,
                    email_group:this.email_group,
                };
                Vue.http.put('/tasks/my-tasks/'+this.task,data).then(function(response){
                    self.loading = !self.loading;
                    self.dialogFormVisible = !self.dialogFormVisible;
                }).catch( ({data}) => {
                    if(data)
                    {this.errors.assign_to = data.assign_to;
                        this.errors.assign_date = data.assign_date;
                        this.errors.title = data.title;
                        this.errors.due_date = data.due_date;
                        self.loading = false;}
                });
            },
            getTaskDetails: function()
            {
                let self = this;
                axios.get('/api/get/task/'+this.task).then(function(response){
                    self.taskDetails = response.data;

                    self.title =  self.taskDetails.title;
                    self.task_access = self.taskDetails.task_access;
                    self.due_date = self.taskDetails.due_date;
                    self.description = self.taskDetails.description;
                    self.assign_to = self.taskDetails.assign_to;
                    self.assign_date = self.taskDetails.assign_date;
                    self.task_category_id = self.taskDetails.task_category_id;
                    self.status_id = self.taskDetails.status_id;
                    self.user_group = self.taskDetails.user_group;
                    self.interval = self.taskDetails.interval;
                    self.email_group = self.taskDetails.email_group;
                })
            },
        },
        mounted: function(){
            this.getTaskFields();
            this.getTaskDetails();
        }
    }
</script>