<script>
    export default {
        data(){
            return {
                tasks: {},
                limit: 10,
                search: '',
                placeholder: "\uf002 Search Tasks"
            }
        },
        mounted(){
            this.fetch();
        },
        methods: {
            fetch: function () {
                var vm = this;
                Vue.http.get('/api/tasks/followed', {
                    params: {
                        search: this.search,
                        limit: this.limit,
                    }
                })
                    .then(function (response) {
                        vm.tasks = response.data;
                    });
            }
        }
    }
</script>

<template>
    <div class="user-follows">
        <!--<div class="row">-->
            <!--<div class="small-12 medium-8 columns">-->
                <!--<input type="text" class="search-box" :placeholder='placeholder' v-model="search" @keyup="fetch()">-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <table v-if="tasks.length>0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Due_date</th>
                    <th>Assigned By</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="task in tasks">
                    <td>
                        <a :href="'tasks/my-tasks/' + task.task_id">{{task.title}}</a>
                    </td>
                    <td>{{task.due_date}}</td>
                    <td>{{task.creator}}</td>
                    <td v-if="task.followed==true">
                        <a :href="'tasks/my-tasks/' + task.task_id + '/un-follow'">Un-Follow</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h6 v-else>You have not followed any tasks</h6>
        </div>
    </div>
</template>