<template>
    <div class="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <div class="row">
                                <div class="small-11 large-11 columns title">
                                    <h5>Create Task</h5>
                                </div>
                                <div class="small-1 large-1 columns close">
                                    <i class="fa fa-times" aria-hidden="true" @click="$emit('close')"></i>
                                </div>
                            </div>
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <form>
                                <div class="row">
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Task Name</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Task Status</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Assign Date</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>End Date</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-12 large-12 columns form-fields">
                                        <label>Assign To</label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="small-12 large-12 columns more-fields">
                                    <span>More Fields <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </div>
                                <div class="row">
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Category</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Occurrence</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Access Level</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-6 large-6 columns form-fields">
                                        <label>Share With</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-12 large-12 columns form-fields">
                                        <label>Description</label>
                                        <input type="text">
                                    </div>
                                    <div class="small-12 large-12 columns form-fields">
                                        <label>Attache Files</label>
                                        <input type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 large-12 columns form-fields">
                                        <a class="button pull-right">Create Task</a>
                                    </div>
                                </div>
                            </form>

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        methods: {
            close: function () {
                this.show = false;
            },
        }
    }
</script>
<style scoped>
    .modal-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .modal-container {
        width: 50%;
        margin: 0px auto;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }
    .modal-container h5{
        font-size: 16px;
        font-weight: 600;
    }
    .modal-header{
        border-bottom: solid black 1px;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }
    .modal-body {
        margin: 20px 0;
        padding: 0.5em;
    }
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .modal-body input[type='date'], input[type='time'], textarea{
        font-size: 12px;
    }
    .modal-body label{
        font-weight: 600;
        font-size: 12px;
    }
    .close{
        padding: 13px 10px 10px 20px;
    }
    .close i{
        font-size: 18px;
        color: red;
    }
    .title{
        padding: 12px 10px 10px 20px !important;
    }
    .form-fields{
        padding: 1px 5px 1px 5px !important;
    }
    .more-fields{
        text-align: center;
        font-weight: 600;
    }
    .more-fields span{
        border: solid black 1px;
        padding: 0.2em 0.7em;
    }
</style>