<template>
    <div class="tasks-table">
        <div class="small-12 columns" style="overflow: scroll;" v-if="tasks">
            <div class="profile-issues">
                <p class="gen-info">Recent Assigned Tasks</p>
            <table class=" table-responsive issues-table">
                <tbody>
                <tr v-for="task in tasks">
                    <td class="issue-data"><a :href="'/tasks/my-tasks/' + task.id">{{task.title}}</a>
                        <p>{{task.created_at}}</p></td>
                    <td class="fi-comment-quotes issue-data"><a :href="'/tasks/my-tasks/' + task.id"> Comment</a></td>
                    <td class="fi-plus issue-data"><a :href="'/tasks/my-tasks/' + task.id"> Update</a></td>
                    <td class="fi-eye issue-data"><a :href="'/tasks/my-tasks/' + task.id"> View Task</a></td>
                </tr>
                </tbody>

                <tr class="pagination" v-if="pagination">
                    <td colspan="7" style="text-align:right">
                        <!--<a @click="getTasks(pagination.current_page-1)"-->
                        <!--:disabled="!pagination.prev_page_url">-->
                        <!--1-->
                        <!--</a>-->
                        <ul>
                            <li :class="{ active: isActive }" @click="isActive = !isActive">
                                <a @click="getTasks(1)"
                                   :disabled="!pagination.next_page_url">1
                                </a></li>
                            <li><a @click="getTasks(2)"
                                   :disabled="!pagination.next_page_url">2
                            </a></li>
                            <li><a @click="getTasks(3)"
                                   :disabled="!pagination.next_page_url">3
                            </a></li>
                            <li><a @click="getTasks(4)"
                                   :disabled="!pagination.next_page_url">4
                            </a></li>
                            <li><a @click="getTasks(5)"
                                   :disabled="!pagination.next_page_url">5
                            </a></li>
                            <li><a @click="getTasks(pagination.current_page+1)">
                                Next Page
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div v-else>
            <p>There are no tasks yet!</p>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                isActive: false,
                tasks: [],
                title: '',
                status: '',
                pagination: [],
                input: {
                    title: this.title,
                    status: this.status
                }
            }
        },
        methods: {
            // Function to filter units
            getTasks: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                var self = this;

                axios.post('/api/get/tasks', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: response.data.per_page
                    };
                    self.tasks = response.data.data;
                }, function (response) {
                    console.log(response)
                });
            }
        },
        mounted: function () {
            Event.$on('filtering_tasks', (filter) => {
                this.input = filter;
                this.getTasks(1);
            });

            this.getTasks();
        }
    }
</script>