<template>
    <div class="tasks-table">
        <el-table :data="tasks" style="width: 100%; font-size: 12px;">
            <el-table-column
                    label="Task Name"
                    prop="title">
            </el-table-column>
            <el-table-column width="100"
                    label="Due Date:"
                    prop="due_date">
            </el-table-column>
            <el-table-column width="100"
                    label="Status:"
                    prop="status.name">
            </el-table-column>
            <el-table-column  width="280">
                <template scope="props">
                    {{props.row.creator.preferred_name}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    {{props.row.assigned}}
                </template>
            </el-table-column>
            <el-table-column width="60">
                <template scope="props">
                    <a :href="'/tasks/my-tasks/'+props.row.id "><i class="fa fa-eye" aria-hidden="true"></i></a>
                </template>
            </el-table-column>
            <el-table-column width="20" type="expand">
                <template scope="props">
                    <p class="task-description"><b>Description:</b> {{ props.row.description }}</p>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination pull-right" v-if="pagination.total>10">
            <ul style="display: inline;">
                <li style="margin-right: 10px">
                    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                </li>
                <li>
                    Rows per page
                    <select name="" id="" v-model="limit" @change="addItems(limit)">
                        <option value="10" v-if="pagination.total>10">10</option>
                        <option value="25" v-if="pagination.total>25">25</option>
                        <option value="50" v-if="pagination.total>50">50</option>
                        <option value="100" v-if="pagination.total>100">100</option>
                    </select>
                </li>
                <li>
                    <a @click="getPublicTasks(pagination.current_page-1)"
                       :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a @click="getPublicTasks(pagination.current_page+1)"
                       :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <task-edit v-if="dialogFormVisible" :task="task"></task-edit>
    </div>
</template>
<script>
    export default {
        filters: {
            truncate: function(string, value) {
                string = (string.length > value) ? string.substring(0, value) + '...' : string;
                return string;
            }
        },
        props:{
            today:{}
        },
        data: function () {
            return {
                limit: 10,
                tasks: [],
                title: '',
                status: '',
                task_access:'',
                user: '',
                department: '',
                dialogFormVisible: false,
                pagination: {
                    per_page: this.limit
                },
                input: {
                    title: this.title,
                    status: this.status,
                    task_access: this.task_access,
                    user: this.user,
                    department: this.department
                }
            }
        },
        methods: {
            getPublicTasks: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                var self = this;

                axios.post('/api/get/public/tasks', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.tasks = response.data.data;
                }, function (response) {
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getPublicTasks();
            }
        },
        mounted: function () {
            Event.$on('filtering_public_tasks', (filter) =>
            {
                this.input = filter;
                this.getPublicTasks(1);
            });

            this.getPublicTasks();
        }
    }
</script>