<template>
    <div class="tasks-table">
        <el-table :data="tasks" style="width: 100%; font-size: 12px;">
            <el-table-column
                    label="Task Name">
                    <template scope="scope">
                        <a>{{scope.row.title}}</a>
                    </template>
            </el-table-column>
            <el-table-column width="100"
                    label="Due Date:"
                    prop="due_date">
            </el-table-column>
            <el-table-column width="120"
                    label="Status:">
                <template scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p><a @click.prevent="markDone(scope.row.id,1)">To Do</a></p>
                        <p><a @click.prevent="markDone(scope.row.id,2)">In Progress</a></p>
                        <p><a @click.prevent="markDone(scope.row.id,3)">Review</a></p>
                        <p><a @click.prevent="markDone(scope.row.id,4)">Done</a></p>
                        <p><a @click.prevent="markDone(scope.row.id,5)">Released</a></p>
                        <p><a @click.prevent="markDone(scope.row.id,6)">Cancelled</a></p>
                        <div slot="reference">
                            <el-tag>{{scope.row.status.name}}...</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column  width="280" >
                <template scope="props">
                    {{props.row.creator.preferred_name}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    {{props.row.assigned}}
                </template>
            </el-table-column>
            <el-table-column width="80">
                <template scope="props">
                    <a :href="'/tasks/my-tasks/'+props.row.id "><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a @click="editTask(props.row.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </template>
            </el-table-column>
            <el-table-column width="20" type="expand">
                <template scope="props">
                    <p class="task-description"><b>Description:</b> {{ props.row.description }}</p>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination pull-right" v-if="pagination.total>10">
            <ul style="display: inline;">
                <li style="margin-right: 10px">
                    {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                </li>
                <li>
                    Rows per page
                    <select name="" id="" v-model="limit" @change="addItems(limit)">
                        <option value="10" v-if="pagination.total>10">10</option>
                        <option value="25" v-if="pagination.total>25">25</option>
                        <option value="50" v-if="pagination.total>50">50</option>
                        <option value="100" v-if="pagination.total>100">100</option>
                    </select>
                </li>
                <li>
                    <a @click="getTasks(pagination.current_page-1)"
                       :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a @click="getTasks(pagination.current_page+1)"
                       :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <task-edit v-if="dialogFormVisible" :task="task"></task-edit>
    </div>

</template>
<script>
    export default {
        filters: {
            truncate: function(string, value) {
                string = (string.length > value) ? string.substring(0, value) + '...' : string;
                return string;
            }
        },
        props:{
            today:{
            }
        },
        data: function () {
            return {
                limit: 10,
                tasks: [],
                taskData:[],
                title: '',
                status: '',
                task_access: '',
                dialogFormVisible: false,
                pagination: {
                    per_page: this.limit
                },
                input: {
                    title: this.title,
                    status: this.status,
                    task_access: this.task_access
                }
            }
        },
        methods: {
            //mark tasks statuses
            markDone:function(id,status)
            {
                let self = this;
                console.log(id);
                axios.post('/task/'+id+'/done/'+status,{
                }).then(function (response) {
                    console.log('updated');
                    self.getTasks();
                });
            },
            // Function to filter units
            getTasks: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                var self = this;

                axios.post('/api/get/tasks', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.tasks = response.data.data;
                }, function (response) {
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getTasks();
            },
            editTask: function(task){
                let self = this;
                this.dialogFormVisible = !this.dialogFormVisible;
                self.task = task;
            }
        },
        mounted: function () {
            Event.$on('filtering_tasks', (filter) => {
                this.input = filter;
                this.getTasks(1);
            });

            this.getTasks();
        }
    }
</script>
<style scoped>
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
