<template>
    <div class="tasks-table">
        <div class="small-12 columns" style="overflow: scroll;" v-if="categories">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Department</th>
                    <th style="text-align:center">Sub Categories</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categories">
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.creator}}</td>
                    <td>{{category.department.name}}</td>
                    <td style="text-align:center"><a :href="'/tasks/tasks_categories/'+ category.id + '/subcategories' ">View</a></td>
                    <td><a v-if="category.created_by == user" :href="'/tasks/tasks_categories/'+ category.id + '/edit' ">Edit</a></td>
                    <td><a v-if="category.created_by == user" :href="'/tasks/tasks_categories/'+ category.id + '/delete' ">Delete</a></td>
                     </tr>
                </tbody>
            </table>
            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getTaskCategories(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getTaskCategories(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else>
            <p>There are no Task Categories yet!</p>
        </div>
    </div>
</template>
<script>
    export default {
        props:{
           user:null
        },
        data: function () {
            return {
                limit: 10,
                categories: [],
                description: '',
                name: '',
                creator: '',
                department: '',
                pagination: {
                    per_page: this.limit
                },
                input: {
                    department: this.department
                }
            }
        },
        methods: {
            getTaskCategories: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                var self = this;
                axios.post('/api/get/filter/task-categories', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.categories = response.data.data;
                }, function (response) {
                    console.log(response)
                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getReports();
            }

        },
        mounted: function () {

            Event.$on('filtering_categories', (filter) =>
            {
                this.input = filter;
                this.getTaskCategories(1);
            });
            this.getTaskCategories();
        }
    }
</script>
<style scoped>
    .report-field{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .report-btn{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
</style>