<template>
    <div class="comments tasks-comments-all" v-if="comments">
        <div class="row">
            <div class="tasks-chat" scroll-bottom>
                <div v-for="comment in comments">
                    <div class="row">
                        <div class="small-1 columns">
                            <div class="avatar"><img :src="comment.comment_user.avatar" draggable="false"/></div>
                        </div>

                        <div class="small-10 large-11 comm-div columns">
                            <h3 style="font-size: 21px;">{{comment.comment_user.preferred_name}}
                                <span style="font-size: 0.75rem" class="pull-right">{{comment.date}}</span>
                            </h3>

                            <p>{{comment.name}}</p>
                            <a v-if="comment.file != null " class="edit" :href="comment.file" target="_blank"
                               download>
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </a>
                            <a v-if="comment.image" target="_blank" download>
                                <img :src="comment.image" draggable="false"/>
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="small-12 columns" v-if="comments.length !== 0 && comments.length > 9">
                    <a class="button expanded" @click="loadMore()">Load more</a>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                loading: false,
                comments: '',
                comment_approvers:'',
                pagination: {
                    per_page: this.per_page
                }
            }
        },
        props: {
            id: {
                required: true,
                'default': 0
            },
            per_page: {
                'default': 10
            }
        },
        methods: {
            // Function to filter units
            getComments: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.per_page;

                let self = this;

                axios.post('/api/get/issue/' + this.id + '/comments', {
                    pagination: this.pagination
                }).then(function (response) {

                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.per_page
                    };
                    self.comments = response.data.data;
                }, function (response) {
                });
            },
            loadMore: function () {
                this.per_page += 10;
                this.getComments();
            },
        },
        mounted: function () {
            this.getComments();
        }
    }
</script>
<style scoped>
    .awaiting span{
        color:red;
    }
    .approved span{
        color:#000000;
    }
    .loading{
        color:#82CA9C;
        font-size: 18px;
        font-weight: 600;
    }
</style>