<template>
    <div class="user-follows">
        <div class="row">
            <div class="small-12 medium-4 column pull-left">
                <select name="" id="" v-model="selected_department" @change="getUsers()">
                    <option value="">Department</option>
                    <option v-for="department in departments" :value="department.id">{{ department.name }}</option>
                </select>
            </div>
            <div class="small-12 medium-8 column">
                <input type="text" class="search-box" :placeholder='placeholder' v-model="search" @keyup="getUsers()">
            </div>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Job Title</th>
                    <th>Department</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                    <td v-if="user.avatar" width="50px">
                        <a :href="'/user/summary/' + user.id "><img :src="user.avatar" class="profile-pic hide-for-small-only"></a>
                    </td>
                    <td v-else width="50px">
                        <a :href="'/user/summary/' + user.id "><i class="fa fa-user-circle profile-pic hide-for-small-only" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a :href="'/user/summary/' + user.id ">{{user.preferred_name}}</a>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.job_title}}</td>
                    <td v-if="user.department">{{user.department.name}}</td>
                    <td v-else>Cytonn Investments</td>
                    <td v-if="user.followed==true">
                        <a @click="unFollowUser(user.id)">Un-Follow</a>
                    </td>
                    <td v-else>
                        <a @click="followUser(user.id)">Follow</a>
                    </td>
                    <td v-if="user_role == 1">
                        <a :href="'/roles/' + user.id ">Role</a>
                    </td>
                    <!--<td v-if="user_role == 1">-->
                        <!--<a :href="'/permissions/' + user.id ">Permissions</a>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getUsers(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getUsers(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            user_role:{},
            departments: {
                required: true,
                'default': []
            }
        },
        data(){
            return {
                users: {},
                limit: 10,
                search: '',
                selected_department: null,
                placeholder:"\uf002 Search People",
                pagination: {},
            }
        },
        mounted(){
            this.getUsers();
        },
        methods: {
            getUsers: function (page = null) {
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                var self = this;
                Vue.http.get('/api/users', {
                    params: {
                        search: this.search,
                        selected_department: this.selected_department,
                        pagination: this.pagination
                    }
                })
                    .then(function (response) {
                        self.pagination = {
                            current_page: response.data.current_page,
                            last_page: response.data.last_page,
                            next_page_url: response.data.next_page_url,
                            prev_page_url: response.data.prev_page_url,
                            per_page: self.limit,
                            from: response.data.from,
                            to: response.data.to,
                            total: response.data.total
                        };
                        self.users = response.data.data;
                    });
            },
            followUser: function (followed_id) {
                var vm = this;
                Vue.http.get('api/follow/user/' + followed_id).then(function (response) {
                    vm.getUsers();
                })
            },
            unFollowUser: function (followed_id) {
                var vm = this;
                Vue.http.get('api/un-follow/user/' + followed_id).then(function (response) {
                    vm.getUsers();
                })
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getUsers();
            }
        }
    }
</script>
